<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_1A_QuickStart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-16 05:38:22.155908+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install Postgres in VM

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
!sudo -u postgres psql -V
!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)
 * Starting PostgreSQL 14 database server
   ...done.

## Configure

In [3]:
# Setup a password `pass` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
#
# Setup a database with name `praxisdb` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS praxisdb;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE praxisdb;'

ALTER ROLE
NOTICE:  database "praxisdb" does not exist, skipping
DROP DATABASE
CREATE DATABASE

In [4]:
# Create file to store the password. Else will be prompted each time
!echo "localhost:5432:praxisdb:postgres:pass" > ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

localhost:5432:praxisdb:postgres:pass

#Command Line Access

In [5]:
#!psql -h localhost -p 5432 -Upostgres -W -dpraxisdb -c 'create table dept (deptid char(2),deptname varchar(20), managerid char(6), location varchar(10));'
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c 'create table dept (deptid char(2),deptname varchar(20), managerid char(6), location varchar(10));'

CREATE TABLE

In [6]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c \
"create table empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"

CREATE TABLE

## Load Data - Insert Option

In [7]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('10', 'Corporate', '299034', 'Calcutta'), \
	('20', 'Sales', '239456', 'Calcutta'), \
	('30', 'Accounts', '822134', 'Calcutta'), \
	('40', 'Production', '349870', 'Bombay');"

INSERT 0 4

In [8]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c \
"INSERT INTO Empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

INSERT 0 12

### View Data

In [10]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [11]:
!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

## Load Data - Copy Option

In [9]:
# The CSV files are stored in github

!wget -q -O dept.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/dept.csv
!wget -q -O emp.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/empl.csv

In [12]:
# Delete all data from tables

!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "truncate table dept;"
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "truncate table empl;"

TRUNCATE TABLE
TRUNCATE TABLE

In [13]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "COPY dept FROM '/content/dept.csv' DELIMITER ',' CSV HEADER;"
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "COPY empl FROM '/content/emp.csv' DELIMITER ',' CSV HEADER;"

COPY 4
COPY 12

## View Data

In [14]:
!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [15]:
!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

In [16]:
!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl, dept where empl.deptid = dept.deptid;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid | deptid |  deptname  | managerid | location
--------+-------------+-----------+------------+------------+--------+------+--------+--------+------------+-----------+----------
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10     | 10     | Corporate  | 299034    | Calcutta
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10     | 10     | Corporate  | 299034    | Calcutta
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10     | 10     | Corporate  | 299034    | Calcutta
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20     | 20     | Sales      | 239456    | Calcutta
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20     | 20     | Sales      | 239456    | Calcutta
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20     | 20     | Sales      | 239456    | Calcutta
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30     | 30     | Accounts   | 822134    | Calcutta
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30     | 30     | Accounts   | 822134    | Calcutta
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30     | 30     | Accounts   | 822134    | Calcutta
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40     | 40     | Production | 349870    | Bombay
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40     | 40     | Production | 349870    | Bombay
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40     | 40     | Production | 349870    | Bombay
(12 rows)

#Python Access
https://www.tutorialspoint.com/python_data_access/python_postgresql_database_connection.htm

In [17]:
#!pip install psycopg2
import psycopg2
import pandas as pd

## Test Connection

In [18]:
#Create Connection


# Local Colab server

conn = psycopg2.connect(database="praxisdb", user='postgres', password='pass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

## Data Access

In [19]:
def runSelect(s):
    #Set up connection
    conn = psycopg2.connect(database="praxisdb", user='postgres', password='pass', host='127.0.0.1', port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(result)
    colnames = [desc[0] for desc in cursor.description]
    #print(colnames)
    resultdf = pd.DataFrame(result)
    resultdf.columns = colnames
    return resultdf

In [20]:
runSelect('select * from dept')

  deptid    deptname managerid  location
0     10   Corporate    299034  Calcutta
1     20       Sales    239456  Calcutta
2     30    Accounts    822134  Calcutta
3     40  Production    349870    Bombay

## Non SELECT statements

In [21]:
def runCmd(s):
    #Create Connection
    conn = psycopg2.connect(database="praxisdb", user='postgres', password='pass', host='127.0.0.1', port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    conn.close()

In [22]:
runCmd('DROP TABLE IF EXISTS empl2')
ddl = \
"create table empl2 \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"
runCmd(ddl)

Command executed
Command executed

In [23]:
sql = \
"INSERT INTO Empl2 (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan2', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee2', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit2', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan2', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag2', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni2', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid2', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia2', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly2', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan2', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan2', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza2', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

runCmd(sql)

Command executed

In [24]:
runSelect('select * from empl2')

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [26]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2024-01-16 05:56:50.553801+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)