<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_1C_Setup_GUI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-02-25 16:50:56.785104+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#
!psql -V
!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)
 * Starting PostgreSQL 14 database server
   ...done.

## Basic Configuration

In [3]:
# This install creates an Ubuntu user 'postgres' AND a Postgres database user 'postgres' both of which are superusers
#!cat /etc/passwd
# Use these users to create a new database user called 'upraxis' and give it a password 'upass'
#!sudo -u postgres createuser --superuser upraxis
!sudo -u postgres createuser upraxis
!sudo -u postgres psql -U postgres -c "ALTER USER upraxis PASSWORD 'upass';"
# Change the database superuser 'postgres' to a non-default value 'pass'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
#
# Use ubuntu superuser to create database dbpraxis and set its owner to upraxis
!sudo -u postgres createdb -O upraxis dbpraxis
#
# Create file to store the password. Else will be prompted each time
!echo "localhost:5432:dbpraxis:postgres:pass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:upraxis:upass" >> ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

ALTER ROLE
ALTER ROLE
localhost:5432:dbpraxis:postgres:pass
localhost:5432:dbpraxis:upraxis:upass

#Local Database

## Create Two Tables

In [4]:
# Create Two tables using command line interface
#
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
'drop table if exists dept;\
create table dept (\
    deptid char(2),\
    deptname varchar(20),\
    managerid char(6),\
    location varchar(10)\
    );'

!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"drop table if exists empl;\
create table empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2)\
    );\
"

NOTICE:  table "dept" does not exist, skipping
CREATE TABLE
NOTICE:  table "empl" does not exist, skipping
CREATE TABLE

## Load Data - Insert Option

In [5]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('10', 'Corporate', '299034', 'Calcutta'), \
	('20', 'Sales', '239456', 'Calcutta'), \
	('30', 'Accounts', '822134', 'Calcutta'), \
	('40', 'Production', '349870', 'Bombay');"

#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"INSERT INTO Empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

INSERT 0 4
INSERT 0 12

## View Data

In [6]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [7]:
#!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl;"
!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select * from empl;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

# Additional Configuration for External GUI Access
https://blog.devart.com/configure-postgresql-to-allow-remote-connection.html

In [8]:
# Check for existence of configuration files
#
#!ls /etc/postgresql/14/main/postgresql.conf
#!ls /etc/postgresql/14/main/pg_hba.conf
#
# Note the two lines that have to be modified
#
!cat /etc/postgresql/14/main/postgresql.conf | grep "#listen_addresses = "
!cat /etc/postgresql/14/main/pg_hba.conf | grep "host    all             all             127.0.0.1/32            scram-sha-256"
#
# Create backup for these two files
!cp /etc/postgresql/14/main/postgresql.conf /etc/postgresql/14/main/postgresql.conf_bak
!cp /etc/postgresql/14/main/pg_hba.conf /etc/postgresql/14/main/pg_hba.conf_bak
#!ls /etc/postgresql/14/main/*.conf*
#
# Change / Edit these two files
#
!sed -i "s/#listen_addresses = 'localhost'/listen_addresses = '*'/g" /etc/postgresql/14/main/postgresql.conf
!sed -i "s\host    all             all             127.0.0.1/32            scram-sha-256\host    all             all             0.0.0.0/0            scram-sha-256\g" /etc/postgresql/14/main/pg_hba.conf
#
# Note that changes have been saved
#
!cat /etc/postgresql/14/main/postgresql.conf | grep "listen_addresses = "
!cat /etc/postgresql/14/main/pg_hba.conf | grep "host    all             all             0.0.0.0/0            scram-sha-256"
#
# Firewall configuration not required
#!sudo ufw allow 5432/tcp
#
# Restart server
!service postgresql start

#listen_addresses = 'localhost'		# what IP address(es) to listen on;
host    all             all             127.0.0.1/32            scram-sha-256
listen_addresses = '*'		# what IP address(es) to listen on;
host    all             all             0.0.0.0/0            scram-sha-256
 * Starting PostgreSQL 14 database server
   ...done.

# Setting up Tunnel

In [9]:
from google.colab import drive
drive.mount('/content/drive')

!cp /content/drive/'My Drive'/Praxis/WebCredentials/ngrokToken.py .
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

from ngrokToken import ngrokToken

#for the sake of privacy
#the following credentials need to be stored in a text file called ngrokToken.py


#otherwise, the values can be directly placed here

#ngrokToken = 'xxxxxxxxxxxxxxx'   # uncomment this line and place your own credentials here
#token is available at https://dashboard.ngrok.com/get-started/setup


#print(ngrokToken)
ngrokTokenCmd = 'ngrok authtoken '+ngrokToken

Mounted at /content/drive

In [10]:
!pip -q install pyngrok

from pyngrok import ngrok
# you may place the token directly here
#!ngrok authtoken xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
get_ipython().system_raw(ngrokTokenCmd)

In [11]:
tcp_tunnel = ngrok.connect(5432, "tcp")
tcp_tunnel
tHost = str(tcp_tunnel)[20:40]
print('Tunnel to MySQL is at ',tHost)

Tunnel to MySQL is at  2.tcp.ngrok.io:13781

In [12]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

tcp://2.tcp.ngrok.io:13781

In [13]:
# Check access through tunnel
# Password will be required
#
!psql -h 2.tcp.ngrok.io -p 13781 -U upraxis -d dbpraxis -c "select * from dept;"

Password for user upraxis:
 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [ ]:
disConnectURL = 'tcp://'+tHost
# Incase we need to disconnect the ngrok tunnel, uncomment and execute the line below
ngrok.disconnect(disConnectURL)

In [14]:
# Club Data
!wget -q https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/clubdata.sql

In [18]:
!head -20 clubdata.sql

--
-- PostgreSQL database dump
--
CREATE DATABASE exercises;
\c exercises
CREATE SCHEMA cd;



-- Dumped from database version 9.2.0
-- Dumped by pg_dump version 9.2.0
-- Started on 2013-05-19 16:05:10 BST

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- TOC entry 7 (class 2615 OID 32769)

In [ ]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2024-01-19 13:51:14.191615+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)