<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_1D_Neon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-25 14:10:59.998683+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install Postgres in VM

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
!sudo -u postgres psql -V
#!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)

## Configure
Credentials from Neon https://console.neon.tech/app/projects <br>
https://console.neon.tech/

In [3]:
from google.colab import drive
drive.mount('/content/drive')
#!ls /content/drive/MyDrive/Praxis/WebCredentials/rds*.*
!cp /content/drive/MyDrive/Praxis/WebCredentials/neonCredentials250124.py ./credentials.py

Mounted at /content/drive
/content/drive/MyDrive/Praxis/WebCredentials/rdsPGcredJan2024.py

In [15]:
from credentials import PGHOST, PGDATABASE,PGUSER,PGPASSWORD
#print(PGHOST, PGDATABASE,PGUSER,PGPASSWORD)
print(PGHOST, PGDATABASE,PGUSER)

ep-flat-moon-a6gkgpta.us-west-2.aws.neon.tech neondb registrations

#Command Line Access

In [4]:
!echo $PGHOST

ep-flat-moon-a6gkgpta.us-west-2.aws.neon.tech

In [6]:
#!psql -h localhost -p 5432 -Upostgres -W -dpraxisdb -c 'create table dept (deptid char(2),deptname varchar(20), managerid char(6), location varchar(10));'
!psql -h $PGHOST -U $PGUSER -d $PGDATABASE  -c \
'create table if not exists dept \
(deptid char(2),\
deptname varchar(20), \
managerid char(6), \
location varchar(10));'

Password for user registrations:
NOTICE:  relation "dept" already exists, skipping
CREATE TABLE

In [8]:
!psql -h $PGHOST -U $PGUSER -d $PGDATABASE  -c \
"create table if not exists empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"

WARNING: password file "/root/.pgpass" has group or world access; permissions should be u=rw (0600) or less
Password for user registrations:
CREATE TABLE

## Load Data - Insert Option

In [9]:
!psql -h $PGHOST -p 5432 -U $PGUSER -d $PGDATABASE -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('10', 'Corporate', '299034', 'Calcutta'), \
	('20', 'Sales', '239456', 'Calcutta'), \
	('30', 'Accounts', '822134', 'Calcutta'), \
	('40', 'Production', '349870', 'Bombay');"

WARNING: password file "/root/.pgpass" has group or world access; permissions should be u=rw (0600) or less
Password for user registrations:
INSERT 0 4

In [10]:
!psql -h $PGHOST -U $PGUSER -d $PGDATABASE -c \
"INSERT INTO Empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

WARNING: password file "/root/.pgpass" has group or world access; permissions should be u=rw (0600) or less
Password for user registrations:
INSERT 0 12

### View Data

In [11]:
!psql -h $PGHOST -U $PGUSER -d $PGDATABASE -c "select * from dept;"

WARNING: password file "/root/.pgpass" has group or world access; permissions should be u=rw (0600) or less
Password for user registrations:
 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [12]:
!psql -h $PGHOST -U $PGUSER -d $PGDATABASE -c "select * from empl;"

WARNING: password file "/root/.pgpass" has group or world access; permissions should be u=rw (0600) or less
Password for user registrations:
 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

#Python Access

In [7]:
#!pip install psycopg2
import psycopg2
import pandas as pd

In [9]:
print(PGHOST, PGDATABASE,PGUSER,PGPASSWORD)

ep-flat-moon-a6gkgpta.us-west-2.aws.neon.tech neondb registrations gel4RtNqPId8

In [10]:
# Local Colab server

conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 15.5 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [12]:
def runSelect(s):
    #Set up connection

    conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(result)
    colnames = [desc[0] for desc in cursor.description]
    #print(colnames)
    resultdf = pd.DataFrame(result)
    resultdf.columns = colnames
    return resultdf

def runCmd(s):
    #Create Connection
    conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    #conn.close()

In [13]:
runSelect('select * from dept')

  deptid    deptname managerid  location
0     10   Corporate    299034  Calcutta
1     20       Sales    239456  Calcutta
2     30    Accounts    822134  Calcutta
3     40  Production    349870    Bombay

In [14]:
runSelect('select * from empl')

     empid     lastname firstname     jobdesc    joindate  salary  comm deptid
0   742866      Bacchan   Amitabh   Executive  2003-03-10   50000  0.10     10
1   349870    Mukherjee      Rani     Manager  2005-05-04   25000  0.06     40
2   865477      Dikshit   Madhuri       Clerk  2002-04-04   10000  0.02     20
3   239456         Khan  Shahrukh     Manager  2004-01-03   30000  0.07     20
4   897889       Sehwag  Virender     Cus_Rep  2005-01-02   15000  0.05     20
5   123980        Dhoni  Mahender       Clerk  2004-10-09    9000  0.02     40
6   822134       Dravid     Rahul  Sr Manager  2000-06-04   40000  0.08     30
7   997445       Dalmia  Jagmohan       Clerk  2001-07-01   12000  0.02     30
8   989007      Ganguly    Sourav     Cus_Rep  2002-01-01   20000  0.03     40
9   299034      Ganesan     Rekha    Director  2002-10-10   60000  0.11     10
10  546223  Karthikeyan   Narayan   Secretary  2005-12-04   40000  0.09     10
11  223112        Mirza     Sania     Cus_Rep  2001-11-19   25000  0.04     30

In [16]:
runCmd('drop table if exists dept')

Command executed

In [17]:
runCmd('drop table if exists empl')

Command executed

In [19]:
cmd = \
'create table if not exists dept \
(deptid char(2),\
deptname varchar(20), \
managerid char(6), \
location varchar(10));'
runCmd(cmd)

Command executed

In [21]:
cmd = "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('11', 'Corporate', '299034', 'Calcutta'), \
	('12', 'Sales', '239456', 'Calcutta'), \
	('13', 'Accounts', '822134', 'Calcutta'), \
	('14', 'Production', '349870', 'Bombay');"

runCmd(cmd)

Command executed

In [22]:
runSelect('select * from dept')

  deptid    deptname managerid  location
0     11   Corporate    299034  Calcutta
1     12       Sales    239456  Calcutta
2     13    Accounts    822134  Calcutta
3     14  Production    349870    Bombay

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)

In [ ]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2024-01-16 05:56:50.553801+05:30