<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_1B_Setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-16 06:56:46.002547+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#
!service postgresql start
!psql -V

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting PostgreSQL 14 database server
   ...done.
psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)

## Local Configuration

In [3]:
# This install creates an Ubuntu user 'postgres' AND a Postgres database user 'postgres' both of which are superusers
#!cat /etc/passwd
# Use these users to create a new database user called 'upraxis' and give it a password 'upass'
#!sudo -u postgres createuser --superuser upraxis
!sudo -u postgres createuser upraxis
!sudo -u postgres psql -U postgres -c "ALTER USER upraxis PASSWORD 'upass';"
# Change the database superuser 'postgres' to a non-default value 'pass'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
#
# Use ubuntu superuser to create database dbpraxis and set its owner to upraxis
!sudo -u postgres createdb -O upraxis dbpraxis
#
# Create file to store the password. Else will be prompted each time
!echo "localhost:5432:dbpraxis:postgres:pass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:upraxis:upass" >> ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

ALTER ROLE
ALTER ROLE
localhost:5432:dbpraxis:postgres:pass
localhost:5432:dbpraxis:upraxis:upass

#Local Database

## Create Two Tables

In [4]:
# Create Two tables using command line interface
#
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
'drop table if exists dept;\
create table dept (\
    deptid char(2),\
    deptname varchar(20),\
    managerid char(6),\
    location varchar(10)\
    );'

!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"drop table if exists empl;\
create table empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2)\
    );\
"

NOTICE:  table "dept" does not exist, skipping
CREATE TABLE
NOTICE:  table "empl" does not exist, skipping
CREATE TABLE

## Load Data - Insert Option

In [5]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('10', 'Corporate', '299034', 'Calcutta'), \
	('20', 'Sales', '239456', 'Calcutta'), \
	('30', 'Accounts', '822134', 'Calcutta'), \
	('40', 'Production', '349870', 'Bombay');"

#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"INSERT INTO Empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

INSERT 0 4
INSERT 0 12

### View Data

In [6]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

## Load Data - Copy Option

In [7]:
# The CSV files are stored in Github

!wget -q -O dept.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/dept.csv
!wget -q -O emp.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/empl.csv

In [9]:
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "truncate table empl;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "truncate table dept;"

TRUNCATE TABLE
TRUNCATE TABLE

In [10]:
# Only superuser ('postgres') can use copy command, not even database owner ('upraxis')
# 'postgres' password has to be entered manually
#
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY dept FROM '/content/dept.csv' DELIMITER ',' CSV HEADER;"
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY empl FROM '/content/emp.csv' DELIMITER ',' CSV HEADER;"

COPY 4
COPY 12

### View Data

In [11]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [12]:
#!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl;"
!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select * from empl;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

In [13]:
!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select distinct * from empl, dept where empl.deptid = dept.deptid;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid | deptid |  deptname  | managerid | location
--------+-------------+-----------+------------+------------+--------+------+--------+--------+------------+-----------+----------
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10     | 10     | Corporate  | 299034    | Calcutta
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20     | 20     | Sales      | 239456    | Calcutta
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40     | 40     | Production | 349870    | Bombay
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10     | 10     | Corporate  | 299034    | Calcutta
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10     | 10     | Corporate  | 299034    | Calcutta
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40     | 40     | Production | 349870    | Bombay
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40     | 40     | Production | 349870    | Bombay
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20     | 20     | Sales      | 239456    | Calcutta
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30     | 30     | Accounts   | 822134    | Calcutta
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30     | 30     | Accounts   | 822134    | Calcutta
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30     | 30     | Accounts   | 822134    | Calcutta
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20     | 20     | Sales      | 239456    | Calcutta
(12 rows)

#Python Access | psycopg2
https://www.tutorialspoint.com/python_data_access/python_postgresql_database_connection.htm

In [14]:
#!pip install psycopg2
import psycopg2
import pandas as pd

## Local Connection & Access

In [15]:
# Local Colab server

conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

## Data Access Routines

In [16]:
def runSelect(s,conn):
    #Set up connection

    #conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(result)
    colnames = [desc[0] for desc in cursor.description]
    #print(colnames)
    resultdf = pd.DataFrame(result)
    resultdf.columns = colnames
    return resultdf

def runCmd(s,conn):
    #Create Connection
    #conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    #conn.close()

In [17]:
# Local Connection
db = 'dbpraxis'
userid = 'upraxis'
pw = 'upass'
hosturl = '127.0.0.1'
lo_conn = psycopg2.connect(database=db, user=userid, password=pw, host=hosturl, port= '5432')

### Select Command

In [18]:
runSelect('select * from dept',lo_conn)

  deptid    deptname managerid  location
0     10   Corporate    299034  Calcutta
1     20       Sales    239456  Calcutta
2     30    Accounts    822134  Calcutta
3     40  Production    349870    Bombay

### Non SELECT statements

In [19]:
runCmd('DROP TABLE IF EXISTS empl2',lo_conn)
ddl = \
"create table empl2 \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"
runCmd(ddl,lo_conn)

Command executed
Command executed

In [20]:
sql = \
"INSERT INTO Empl2 (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan2', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee2', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit2', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan2', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag2', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni2', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid2', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia2', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly2', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan2', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan2', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza2', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

runCmd(sql,lo_conn)

Command executed

In [21]:
runSelect('select * from empl2',lo_conn)

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30

## Remote Connection & Access

In [22]:
from google.colab import drive
drive.mount('/content/drive')
!ls /content/drive/MyDrive/Praxis/WebCredentials/rds*.*
!cp /content/drive/MyDrive/Praxis/WebCredentials/rdsPGcredJan2024.py ./credentials.py

Mounted at /content/drive
/content/drive/MyDrive/Praxis/WebCredentials/rdsPGcredJan2024.py

In [23]:
# Remote Postgres Server on AWS

#https://stackoverflow.com/questions/54300263/connect-to-aws-rds-postgres-database-with-python

# Remote Server

#db = 'postgres'
#userid = 'postgres'
#pw = '---------'
#hosturl = '----------------------------'
from credentials import db,userid,pw,hosturl
re_host = hosturl
#print (db,userid,re_host)
re_conn = psycopg2.connect(database=db, user=userid, password=pw, host=re_host, port= '5432')

#Creating a cursor object using the cursor() method
cursor = re_conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
re_conn.close()

Connection established to:  ('PostgreSQL 15.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

In [24]:
#db = 'postgres'
#userid = '-----'
#pw = '---------'
re_host = '-------'
from credentials import db,userid,pw,hosturl
re_host = hosturl
#print (db,userid,hosturl)
re_conn = psycopg2.connect(database=db, user=userid, password=pw, host=re_host, port= '5432')

In [25]:
runCmd('DROP TABLE IF EXISTS r_empl',re_conn)
#
ddl = \
"create table r_empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"
runCmd(ddl,re_conn)

Command executed
Command executed

In [26]:
sql = \
"INSERT INTO r_empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan2', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee2', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit2', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan2', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag2', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni2', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid2', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia2', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly2', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan2', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan2', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza2', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

runCmd(sql,re_conn)

Command executed

In [27]:
runSelect('select * from r_empl',re_conn)

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [28]:
#Command Line Access
!psql -h $re_host -p 5432 -U postgres -d postgres -c "select * from r_empl;"

Password for user postgres:
 empid  |   lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+--------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan2     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee2   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit2     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan2        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag2      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni2       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid2      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia2      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly2     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan2     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan2 | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza2       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

In [29]:
ddl = "\
drop table if exists r_dept;\
create table r_dept (\
    deptid char(2),\
    deptname varchar(20),\
    managerid char(6),\
    location varchar(10)\
    );\
"
runCmd(ddl,re_conn)

Command executed

In [30]:
# Loading Bulk Data
# Note the \COPY instead of simply COPY
#
!psql -h $re_host -p 5432 -Upostgres -dpostgres -c "\COPY r_dept FROM '/content/dept.csv' DELIMITER ',' CSV HEADER;"

Password for user postgres:
COPY 4

In [31]:
!psql -h $re_host -p 5432 -U postgres -d postgres -c "select * from r_dept;"

Password for user postgres:
 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [32]:
!psql -h $re_host -p 5432 -U postgres -d postgres -c "\
select * from r_empl where jobdesc like '%Manager';\
"

Password for user postgres:
 empid  |  lastname  | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+------------+-----------+------------+------------+--------+------+--------
 349870 | Mukherjee2 | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 239456 | Khan2      | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 822134 | Dravid2    | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
(3 rows)

#Python Access | SQL Alchemy

In [34]:
from sqlalchemy import create_engine, text

In [36]:
#connect_string = 'mysql://root@localhost/praxisDB'
connect_string = 'postgresql://'+userid+':'+pw+'@'+re_host+'/'+db
#print(connect_string)
pg_engine = create_engine(connect_string)
pg_Conn = pg_engine.connect()

In [37]:
pg_Conn = pg_engine.connect()
cursor = pg_Conn.execute(text("SELECT VERSION()"))

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version ", data)
# disconnect from server
pg_Conn.close()

Database version  ('PostgreSQL 15.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

In [38]:
pg_Conn = pg_engine.connect()
#Retrieving data
pg_cursor = pg_Conn.execute(text("select * from r_empl where jobdesc like '%Manager'"))
#Fetching all rows from the table
result = pg_cursor.fetchall();
#print(result)

resultdf = pd.DataFrame(result)
resultdf

    empid    lastname firstname     jobdesc    joindate  salary  comm deptid
0  349870  Mukherjee2      Rani     Manager  2005-05-04   25000  0.06     40
1  239456       Khan2  Shahrukh     Manager  2004-01-03   30000  0.07     20
2  822134     Dravid2     Rahul  Sr Manager  2000-06-04   40000  0.08     30

In [39]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))
re_conn.close()

Last tested   2024-01-16 07:22:25.974450+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)