<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_1B_ColabSandbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [ ]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-27 21:32:02.222154+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install - Local Colab VM

In [ ]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#
!service postgresql start
!psql -V

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting PostgreSQL 14 database server
   ...done.
psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)

# Working with Local Database

## Local Database Configuration

In [ ]:
# This install creates an Ubuntu user 'postgres' AND a Postgres database user 'postgres' both of which are superusers
#!cat /etc/passwd
# Use these users to create a new database user called 'upraxis' and give it a password 'upass'
#!sudo -u postgres createuser --superuser upraxis
!sudo -u postgres createuser upraxis
!sudo -u postgres psql -U postgres -c "ALTER USER upraxis PASSWORD 'upass';"
# Change the database superuser 'postgres' to a non-default value 'pass'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
#
# Use ubuntu superuser to create database dbpraxis and set its owner to upraxis
!sudo -u postgres createdb -O upraxis dbpraxis
#
# Create file to store the password. Else will be prompted each time
!echo "localhost:5432:dbpraxis:postgres:pass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:upraxis:upass" >> ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

ALTER ROLE
ALTER ROLE
localhost:5432:dbpraxis:postgres:pass
localhost:5432:dbpraxis:upraxis:upass

## Create Two Tables

In [ ]:
# Create Two tables using command line interface
#
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
'drop table if exists dept;\
create table dept (\
    deptid char(2),\
    deptname varchar(20),\
    managerid char(6),\
    location varchar(10)\
    );'

!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"drop table if exists empl;\
create table empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2)\
    );\
"

NOTICE:  table "dept" does not exist, skipping
CREATE TABLE
NOTICE:  table "empl" does not exist, skipping
CREATE TABLE

## Load Data - Insert Option

In [ ]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "INSERT INTO Dept (DeptID, DeptName, ManagerID, Location) VALUES \
	('10', 'Corporate', '299034', 'Calcutta'), \
	('20', 'Sales', '239456', 'Calcutta'), \
	('30', 'Accounts', '822134', 'Calcutta'), \
	('40', 'Production', '349870', 'Bombay');"

#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c \
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c \
"INSERT INTO Empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

INSERT 0 4
INSERT 0 12

### View Data

In [ ]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

## ReLoad Data - Copy Option

In [ ]:
# The CSV files are stored in Github

!wget -q -O dept.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/dept.csv
!wget -q -O emp.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/empl.csv

In [ ]:
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "truncate table empl;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "truncate table dept;"

TRUNCATE TABLE
TRUNCATE TABLE

In [ ]:
# Only superuser ('postgres') can use copy command, not even database owner ('upraxis')
# 'postgres' password has to be entered manually
#
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY dept FROM '/content/dept.csv' DELIMITER ',' CSV HEADER;"
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY empl FROM '/content/emp.csv' DELIMITER ',' CSV HEADER;"

COPY 4
COPY 12

### View Data

In [ ]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "select * from dept;"

 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [ ]:
#!psql -h localhost -p 5432 -U postgres -d praxisdb -c "select * from empl;"
!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select * from empl;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid
--------+-------------+-----------+------------+------------+--------+------+--------
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30
(12 rows)

In [ ]:
!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select distinct * from empl, dept where empl.deptid = dept.deptid;"

 empid  |  lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid | deptid |  deptname  | managerid | location
--------+-------------+-----------+------------+------------+--------+------+--------+--------+------------+-----------+----------
 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10     | 10     | Corporate  | 299034    | Calcutta
 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20     | 20     | Sales      | 239456    | Calcutta
 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40     | 40     | Production | 349870    | Bombay
 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10     | 10     | Corporate  | 299034    | Calcutta
 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10     | 10     | Corporate  | 299034    | Calcutta
 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40     | 40     | Production | 349870    | Bombay
 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40     | 40     | Production | 349870    | Bombay
 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20     | 20     | Sales      | 239456    | Calcutta
 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30     | 30     | Accounts   | 822134    | Calcutta
 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30     | 30     | Accounts   | 822134    | Calcutta
 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30     | 30     | Accounts   | 822134    | Calcutta
 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20     | 20     | Sales      | 239456    | Calcutta
(12 rows)

#Python Access | psycopg2
https://www.tutorialspoint.com/python_data_access/python_postgresql_database_connection.htm

In [ ]:
#!pip install psycopg2
import psycopg2
import pandas as pd

## Local Connection & Access

In [ ]:
# Local Colab server

conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

## Data Access Routines

In [ ]:
def runSelect(s):

    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(result)
    colnames = [desc[0] for desc in cursor.description]
    #print(colnames)
    resultdf = pd.DataFrame(result)
    resultdf.columns = colnames
    return resultdf

def runCmd(s):

    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    #conn.close()

In [ ]:
# Define LOCAL Connection
db = 'dbpraxis'
userid = 'upraxis'
pw = 'upass'
hosturl = '127.0.0.1'
conn = psycopg2.connect(database=db, user=userid, password=pw, host=hosturl, port= '5432')

### Select Command

In [ ]:
runSelect('select * from dept')

  deptid    deptname managerid  location
0     10   Corporate    299034  Calcutta
1     20       Sales    239456  Calcutta
2     30    Accounts    822134  Calcutta
3     40  Production    349870    Bombay

### Non SELECT statements

In [ ]:
runCmd('DROP TABLE IF EXISTS empl2')
ddl = \
"create table empl2 \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2));\
"
runCmd(ddl)

Command executed
Command executed

In [ ]:
sql = \
"INSERT INTO Empl2 (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan2', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee2', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit2', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan2', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag2', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni2', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid2', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia2', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly2', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan2', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan2', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza2', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

runCmd(sql)

Command executed

In [ ]:
runSelect('select * from empl2')

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30

# Working with Persistent (Remote, Hosted) Database

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Define Connection to Neon
visit https://neon.tech/ for your credentials

In [ ]:
#ls /content/drive/MyDrive/Praxis/WebCredentials/neon*.py
!cp /content/drive/MyDrive/Praxis/WebCredentials/neonCredentials250124.py ./credentials.py

In [ ]:
from credentials import PGHOST, PGDATABASE,PGUSER,PGPASSWORD
#print(PGHOST, PGDATABASE,PGUSER,PGPASSWORD)
#print(PGHOST, PGDATABASE,PGUSER)

In [ ]:
# Remote Postgres Server on Neon

#https://stackoverflow.com/questions/54300263/connect-to-aws-rds-postgres-database-with-python

# Remote Server

#PGDATABASE = 'yourDatabase'
#PGUSER = 'yourUserID'
#PGPASSWORD= 'yourPassWord'
#PGHOST = 'yourHost'
#
conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port= '5432')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 15.5 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [ ]:
# Remote Server

#PGDATABASE = 'yourDatabase'
#PGUSER = 'yourUserID'
#PGPASSWORD= 'yourPassWord'
#PGHOST = 'yourHost'
#
conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port= '5432')

## Check Neon Access

In [ ]:
runSelect('select * from r_empl')

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid,createddate
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10,2024-01-27 16:10:33.136783
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40,2024-01-27 16:10:33.136783
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20,2024-01-27 16:10:33.136783
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20,2024-01-27 16:10:33.136783
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20,2024-01-27 16:10:33.136783
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40,2024-01-27 16:10:33.136783
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30,2024-01-27 16:10:33.136783
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30,2024-01-27 16:10:33.136783
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40,2024-01-27 16:10:33.136783
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10,2024-01-27 16:10:33.136783
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10,2024-01-27 16:10:33.136783
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30,2024-01-27 16:10:33.136783

In [ ]:
runCmd('DROP TABLE IF EXISTS r_empl')
#
ddl = \
"create table if not exists r_empl \
(empid char(6),\
    lastname varchar(20),\
    firstname varchar(20),\
    jobdesc varchar(10),\
    joindate date,\
    salary int,\
    comm decimal(3,2),\
    deptid char(2),\
    createdDate TIMESTAMP DEFAULT CURRENT_TIMESTAMP)\
"
runCmd(ddl)

Command executed
Command executed

In [ ]:
sql = \
"INSERT INTO r_empl (EmpID, LastName, FirstName, JobDesc, JoinDate, Salary, Comm, DeptID) \
    VALUES \
	('742866', 'Bacchan2', 'Amitabh', 'Executive', '2003-03-10', 50000, 0.1, '10'), \
	('349870', 'Mukherjee2', 'Rani', 'Manager', '2005-05-04', 25000, 0.06, '40'), \
	('865477', 'Dikshit2', 'Madhuri', 'Clerk', '2002-04-04', 10000, 0.02, '20'), \
	('239456', 'Khan2', 'Shahrukh', 'Manager', '2004-01-03', 30000, 0.07, '20'), \
	('897889', 'Sehwag2', 'Virender', 'Cus_Rep', '2005-01-02', 15000, 0.05, '20'), \
	('123980', 'Dhoni2', 'Mahender', 'Clerk', '2004-10-09', 9000, 0.02, '40'), \
	('822134', 'Dravid2', 'Rahul', 'Sr Manager', '2000-06-04', 40000, 0.08, '30'), \
	('997445', 'Dalmia2', 'Jagmohan', 'Clerk', '2001-07-01', 12000, 0.02, '30'), \
	('989007', 'Ganguly2', 'Sourav', 'Cus_Rep', '2002-01-01', 20000, 0.03, '40'), \
	('299034', 'Ganesan2', 'Rekha', 'Director', '2002-10-10', 60000, 0.11, '10'), \
	('546223', 'Karthikeyan2', 'Narayan', 'Secretary', '2005-12-04', 40000, 0.09, '10'), \
	('223112', 'Mirza2', 'Sania', 'Cus_Rep', '2001-11-19', 25000, 0.04, '30');"

runCmd(sql)

Command executed

In [ ]:
runSelect('select * from r_empl')

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid,createddate
0,742866,Bacchan2,Amitabh,Executive,2003-03-10,50000,0.10,10,2024-01-27 16:10:33.136783
1,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40,2024-01-27 16:10:33.136783
2,865477,Dikshit2,Madhuri,Clerk,2002-04-04,10000,0.02,20,2024-01-27 16:10:33.136783
3,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20,2024-01-27 16:10:33.136783
4,897889,Sehwag2,Virender,Cus_Rep,2005-01-02,15000,0.05,20,2024-01-27 16:10:33.136783
5,123980,Dhoni2,Mahender,Clerk,2004-10-09,9000,0.02,40,2024-01-27 16:10:33.136783
6,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30,2024-01-27 16:10:33.136783
7,997445,Dalmia2,Jagmohan,Clerk,2001-07-01,12000,0.02,30,2024-01-27 16:10:33.136783
8,989007,Ganguly2,Sourav,Cus_Rep,2002-01-01,20000,0.03,40,2024-01-27 16:10:33.136783
9,299034,Ganesan2,Rekha,Director,2002-10-10,60000,0.11,10,2024-01-27 16:10:33.136783
10,546223,Karthikeyan2,Narayan,Secretary,2005-12-04,40000,0.09,10,2024-01-27 16:10:33.136783
11,223112,Mirza2,Sania,Cus_Rep,2001-11-19,25000,0.04,30,2024-01-27 16:10:33.136783

In [ ]:
#Command Line Access
!psql -h $PGHOST -p 5432 -U $PGUSER -d $PGDATABASE -c "select * from r_empl;"

Password for user registrations:
 empid  |   lastname   | firstname |  jobdesc   |  joindate  | salary | comm | deptid |        createddate
--------+--------------+-----------+------------+------------+--------+------+--------+----------------------------
 742866 | Bacchan2     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10     | 2024-01-27 16:10:33.136783
 349870 | Mukherjee2   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40     | 2024-01-27 16:10:33.136783
 865477 | Dikshit2     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20     | 2024-01-27 16:10:33.136783
 239456 | Khan2        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20     | 2024-01-27 16:10:33.136783
 897889 | Sehwag2      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20     | 2024-01-27 16:10:33.136783
 123980 | Dhoni2       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40     | 2024-01-27 16:10:33.136783
 822134 | Dravid2      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30     | 2024-01-27 16:10:33.136783
 997445 | Dalmia2      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30     | 2024-01-27 16:10:33.136783
 989007 | Ganguly2     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40     | 2024-01-27 16:10:33.136783
 299034 | Ganesan2     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10     | 2024-01-27 16:10:33.136783
 546223 | Karthikeyan2 | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10     | 2024-01-27 16:10:33.136783
 223112 | Mirza2       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30     | 2024-01-27 16:10:33.136783
(12 rows)

In [ ]:
ddl = "\
drop table if exists r_dept;\
create table r_dept (\
    deptid char(2),\
    deptname varchar(20),\
    managerid char(6),\
    location varchar(10)\
    );\
"
runCmd(ddl)

Command executed

In [ ]:
# Loading Bulk Data
# Note the \COPY instead of simply COPY
#
!psql -h $PGHOST -p 5432 -U $PGUSER -d $PGDATABASE -c "\COPY r_dept FROM '/content/dept.csv' DELIMITER ',' CSV HEADER;"

Password for user registrations:
COPY 4

In [ ]:
!psql -h $PGHOST -p 5432 -U $PGUSER -d $PGDATABASE -c "select * from r_dept;"

Password for user registrations:
 deptid |  deptname  | managerid | location
--------+------------+-----------+----------
 10     | Corporate  | 299034    | Calcutta
 20     | Sales      | 239456    | Calcutta
 30     | Accounts   | 822134    | Calcutta
 40     | Production | 349870    | Bombay
(4 rows)

In [ ]:
runSelect("select * from r_empl where jobdesc like '%Manager'")

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid,createddate
0,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40,2024-01-27 16:10:33.136783
1,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20,2024-01-27 16:10:33.136783
2,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30,2024-01-27 16:10:33.136783

## Close Remote Connection

In [ ]:
#Close Neon Connection
conn.close()

# Basic Linux (Ubuntu) Commands
wget, ls, cp, mv, cat, head, grep, sed curl <br>
https://www.crio.do/blog/20-basic-linux-commands/

In [ ]:
# Download a file from a URL
!wget -q -O test.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/empl.csv

In [ ]:
# list files in home directory
!ls -al

total 40
drwxr-xr-x 1 root root 4096 Jan 27 16:15 .
drwxr-xr-x 1 root root 4096 Jan 27 16:00 ..
drwxr-xr-x 4 root root 4096 Jan 25 14:22 .config
-rw------- 1 root root  126 Jan 27 16:06 credentials.py
-rw-r--r-- 1 root root  144 Jan 27 16:03 dept.csv
drwx------ 7 root root 4096 Jan 27 16:04 drive
-rw-r--r-- 1 root root  722 Jan 27 16:03 emp.csv
drwxr-xr-x 2 root root 4096 Jan 27 16:06 __pycache__
drwxr-xr-x 1 root root 4096 Jan 25 14:23 sample_data
-rw-r--r-- 1 root root  722 Jan 27 16:15 test.csv

In [ ]:
!cp test.csv test2.csv              # copy a file
!mv test.csv test.bak.csv           # rename a file
!ls *.csv

dept.csv  emp.csv  test2.csv  test.bak.csv

In [ ]:
!cat test2.csv                      # dump the contents of an entire file

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40
865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20
123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30
997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [ ]:
!head -3 test2.csv                              # show the first 3 lines of a file

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40

In [ ]:
!grep -n 'Clerk' test2.csv                      # show line where a specific string appears

4:865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20
7:123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40
9:997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30

In [ ]:
!grep 'Clerk' test2.csv > ClerkList.txt         # redirect output to a file
!cat ClerkList.txt                              # display the file

865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20
123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40
997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30

In [ ]:
# Edit contents of a file, replace one string with anothe
#https://www.geeksforgeeks.org/sed-command-in-linux-unix-with-examples/
!sed 's/Clerk/Klerk/' test2.csv

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40
865477,Dikshit,Madhuri,Klerk,2002-04-04,10000,0.02,20
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20
123980,Dhoni,Mahender,Klerk,2004-10-09,9000,0.02,40
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30
997445,Dalmia,Jagmohan,Klerk,2001-07-01,12000,0.02,30
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [ ]:
!sed 's/Clerk/Klerk/' test2.csv > test2.mod
!cat test2.mod

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40
865477,Dikshit,Madhuri,Klerk,2002-04-04,10000,0.02,20
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20
123980,Dhoni,Mahender,Klerk,2004-10-09,9000,0.02,40
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30
997445,Dalmia,Jagmohan,Klerk,2001-07-01,12000,0.02,30
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [ ]:
# remove 1st line of file
!sed -i '1d' test2.mod
!cat test2.mod

742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40
865477,Dikshit,Madhuri,Klerk,2002-04-04,10000,0.02,20
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20
123980,Dhoni,Mahender,Klerk,2004-10-09,9000,0.02,40
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30
997445,Dalmia,Jagmohan,Klerk,2001-07-01,12000,0.02,30
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30

## curl
get data from URL and parse it with python

In [ ]:
# Realtime weather data open-meteo.com
#
!curl -s "https://api.open-meteo.com/v1/forecast?latitude=22.5726&longitude=88.3639&current=temperature_2m,wind_speed_10m&hourly=temperature_2m,relative_humidity_2m,wind_speed_10m"

{"latitude":22.625,"longitude":88.375,"generationtime_ms":0.08702278137207031,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":12.0,"current_units":{"time":"iso8601","interval":"seconds","temperature_2m":"°C","wind_speed_10m":"km/h"},"current":{"time":"2024-01-27T16:15","interval":900,"temperature_2m":16.1,"wind_speed_10m":3.0},"hourly_units":{"time":"iso8601","temperature_2m":"°C","relative_humidity_2m":"%","wind_speed_10m":"km/h"},"hourly":{"time":["2024-01-27T00:00","2024-01-27T01:00","2024-01-27T02:00","2024-01-27T03:00","2024-01-27T04:00","2024-01-27T05:00","2024-01-27T06:00","2024-01-27T07:00","2024-01-27T08:00","2024-01-27T09:00","2024-01-27T10:00","2024-01-27T11:00","2024-01-27T12:00","2024-01-27T13:00","2024-01-27T14:00","2024-01-27T15:00","2024-01-27T16:00","2024-01-27T17:00","2024-01-27T18:00","2024-01-27T19:00","2024-01-27T20:00","2024-01-27T21:00","2024-01-27T22:00","2024-01-27T23:00","2024-01-28T00:00","2024-01-28T01:00","2024-01-28T02:00","2024-01-28T03:00","2024-01-28T04:00","2024-01-28T05:00","2024-01-28T06:00","2024-01-28T07:00","2024-01-28T08:00","2024-01-28T09:00","2024-01-28T10:00","2024-01-28T11:00","2024-01-28T12:00","2024-01-28T13:00","2024-01-28T14:00","2024-01-28T15:00","2024-01-28T16:00","2024-01-28T17:00","2024-01-28T18:00","2024-01-28T19:00","2024-01-28T20:00","2024-01-28T21:00","2024-01-28T22:00","2024-01-28T23:00","2024-01-29T00:00","2024-01-29T01:00","2024-01-29T02:00","2024-01-29T03:00","2024-01-29T04:00","2024-01-29T05:00","2024-01-29T06:00","2024-01-29T07:00","2024-01-29T08:00","2024-01-29T09:00","2024-01-29T10:00","2024-01-29T11:00","2024-01-29T12:00","2024-01-29T13:00","2024-01-29T14:00","2024-01-29T15:00","2024-01-29T16:00","2024-01-29T17:00","2024-01-29T18:00","2024-01-29T19:00","2024-01-29T20:00","2024-01-29T21:00","2024-01-29T22:00","2024-01-29T23:00","2024-01-30T00:00","2024-01-30T01:00","2024-01-30T02:00","2024-01-30T03:00","2024-01-30T04:00","2024-01-30T05:00","2024-01-30T06:00","2024-01-30T07:00","2024-01-30T08:00","2024-01-30T09:00","2024-01-30T10:00","2024-01-30T11:00","2024-01-30T12:00","2024-01-30T13:00","2024-01-30T14:00","2024-01-30T15:00","2024-01-30T16:00","2024-01-30T17:00","2024-01-30T18:00","2024-01-30T19:00","2024-01-30T20:00","2024-01-30T21:00","2024-01-30T22:00","2024-01-30T23:00","2024-01-31T00:00","2024-01-31T01:00","2024-01-31T02:00","2024-01-31T03:00","2024-01-31T04:00","2024-01-31T05:00","2024-01-31T06:00","2024-01-31T07:00","2024-01-31T08:00","2024-01-31T09:00","2024-01-31T10:00","2024-01-31T11:00","2024-01-31T12:00","2024-01-31T13:00","2024-01-31T14:00","2024-01-31T15:00","2024-01-31T16:00","2024-01-31T17:00","2024-01-31T18:00","2024-01-31T19:00","2024-01-31T20:00","2024-01-31T21:00","2024-01-31T22:00","2024-01-31T23:00","2024-02-01T00:00","2024-02-01T01:00","2024-02-01T02:00","2024-02-01T03:00","2024-02-01T04:00","2024-02-01T05:00","2024-02-01T06:00","2024-02-01T07:00","2024-02-01T08:00","2024-02-01T09:00","2024-02-01T10:00","2024-02-01T11:00","2024-02-01T12:00","2024-02-01T13:00","2024-02-01T14:00","2024-02-01T15:00","2024-02-01T16:00","2024-02-01T17:00","2024-02-01T18:00","2024-02-01T19:00","2024-02-01T20:00","2024-02-01T21:00","2024-02-01T22:00","2024-02-01T23:00","2024-02-02T00:00","2024-02-02T01:00","2024-02-02T02:00","2024-02-02T03:00","2024-02-02T04:00","2024-02-02T05:00","2024-02-02T06:00","2024-02-02T07:00","2024-02-02T08:00","2024-02-02T09:00","2024-02-02T10:00","2024-02-02T11:00","2024-02-02T12:00","2024-02-02T13:00","2024-02-02T14:00","2024-02-02T15:00","2024-02-02T16:00","2024-02-02T17:00","2024-02-02T18:00","2024-02-02T19:00","2024-02-02T20:00","2024-02-02T21:00","2024-02-02T22:00","2024-02-02T23:00"],"temperature_2m":[12.4,12.2,12.9,14.7,16.7,18.8,21.5,22.9,23.8,23.9,23.4,22.5,20.7,18.9,17.6,16.8,16.2,15.8,15.4,14.7,14.0,13.2,12.6,12.2,11.8,11.6,12.5,15.5,18.4,21.0,22.7,23.8,24.5,24.6,24.4,23.7,22.0,20.1,18.9,18.2,17.7,17.0,16.3,15.7,15.0,14.5,14.1,13.7,13.5,13.3,14.1,17.0,20.0,22.3,23.9,25.0,25.8,26.1,25.9,25.3,23.7,21.8,20.3,19.8,18.9,18.2,17.5,17.1,16.7,16.3,15.9,15.7,15.5,15.4,16.3,19.2,22.1,24.2,25.7,26.7,27.3,27.6,27.6,27.1,25.5,23.5,22.3,21.3,20.3,19.5,19.0,18.6,18.5,18.4,18.1,17.8,17.9,18.5,19.4,20.5,21.8,23.4,24.5,24.9,24.8,24.6,24.4,24.1,23.7,22.9,22.0,21.2,20.6,20.2,19.8,19.5,19.3,19.1,18.9,18.9,19.0,19.3,19.8,20.5,21.6,22.9,23.9,24.5,24.8,24.7,24.3,23.5,22.7,22.1,21.5,21.0,20.7,20.5,20.4,20.2,20.0,19.9,19.8,19.7,19.8,20.2,20.7,21.4,22.4,23.7,24.8,25.7,26.5,26.7,26.3,25.3,24.3,23.4,22.5,21.8,21.2,20.8,20.4,20.1,19.7,19.4,18.9,18.4],"relative_humidity_2m":[87,88,86,79,71,64,44,37,35,34,35,37,47,58,63,64,65,66,67,69,72,75,78,80,82,83,81,71,61,51,45,42,41,42,43,45,54,64,69,72,74,75,77,78,81,83,82,83,83,84,81,70,58,51,48,46,46,46,48,51,59,68,73,76,78,80,82,85,88,91,93,94,94,95,93,80,65,58,55,53,50,48,47,48,55,62,72,80,86,90,93,95,96,96,96,96,95,92,87,82,76,69,63,59,56,55,57,62,67,73,79,84,87,88,90,92,94,96,97,98,97,95,93,89,82,75,69,73,73,74,78,83,87,89,90,91,92,92,92,92,93,93,94,96,96,96,94,91,84,74,67,63,61,60,60,62,65,70,76,81,84,85,86,88,89,90,91,92],"wind_speed_10m":[3.3,3.2,3.3,3.6,4.0,3.5,4.8,6.7,7.8,8.7,8.7,7.5,4.7,4.0,3.6,3.2,2.9,2.9,3.1,3.3,3.4,3.6,3.6,3.3,3.6,3.3,2.8,2.6,3.3,3.6,3.7,4.3,5.2,5.0,5.2,4.6,3.6,3.6,3.3,3.3,3.3,3.4,3.6,3.8,3.8,3.6,2.8,2.8,2.7,2.9,2.6,2.4,3.1,2.5,2.7,4.1,4.3,4.9,5.0,3.8,3.3,3.7,3.6,3.1,2.5,2.6,2.5,1.5,0.8,1.8,2.3,2.3,2.3,2.3,2.2,1.5,2.0,2.6,3.8,6.4,6.1,5.8,5.5,4.2,1.8,3.0,4.7,5.6,5.4,4.7,4.0,3.3,2.6,2.4,2.9,3.7,4.5,5.3,6.0,6.0,5.8,6.6,8.1,8.4,7.7,6.2,3.3,0.8,2.5,2.5,1.8,1.3,1.6,2.2,2.5,2.5,2.5,2.3,2.3,2.4,2.9,3.6,4.1,3.8,2.2,2.5,4.5,5.6,3.9,2.7,2.3,3.0,3.6,3.6,3.6,3.2,3.5,4.8,5.4,4.5,3.3,2.3,2.0,2.1,2.6,3.3,4.0,4.7,5.4,5.9,6.6,7.4,8.3,8.7,7.9,6.5,5.0,3.5,2.5,1.8,1.9,2.4,2.6,2.9,3.3,4.0,4.4,4.6]}}

In [ ]:
!curl -s "https://api.open-meteo.com/v1/forecast?latitude=22.5726&longitude=88.3639&current=temperature_2m&hourly=temperature_2m"

{"latitude":22.625,"longitude":88.375,"generationtime_ms":0.03790855407714844,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":12.0,"current_units":{"time":"iso8601","interval":"seconds","temperature_2m":"°C"},"current":{"time":"2024-01-27T16:15","interval":900,"temperature_2m":16.1},"hourly_units":{"time":"iso8601","temperature_2m":"°C"},"hourly":{"time":["2024-01-27T00:00","2024-01-27T01:00","2024-01-27T02:00","2024-01-27T03:00","2024-01-27T04:00","2024-01-27T05:00","2024-01-27T06:00","2024-01-27T07:00","2024-01-27T08:00","2024-01-27T09:00","2024-01-27T10:00","2024-01-27T11:00","2024-01-27T12:00","2024-01-27T13:00","2024-01-27T14:00","2024-01-27T15:00","2024-01-27T16:00","2024-01-27T17:00","2024-01-27T18:00","2024-01-27T19:00","2024-01-27T20:00","2024-01-27T21:00","2024-01-27T22:00","2024-01-27T23:00","2024-01-28T00:00","2024-01-28T01:00","2024-01-28T02:00","2024-01-28T03:00","2024-01-28T04:00","2024-01-28T05:00","2024-01-28T06:00","2024-01-28T07:00","2024-01-28T08:00","2024-01-28T09:00","2024-01-28T10:00","2024-01-28T11:00","2024-01-28T12:00","2024-01-28T13:00","2024-01-28T14:00","2024-01-28T15:00","2024-01-28T16:00","2024-01-28T17:00","2024-01-28T18:00","2024-01-28T19:00","2024-01-28T20:00","2024-01-28T21:00","2024-01-28T22:00","2024-01-28T23:00","2024-01-29T00:00","2024-01-29T01:00","2024-01-29T02:00","2024-01-29T03:00","2024-01-29T04:00","2024-01-29T05:00","2024-01-29T06:00","2024-01-29T07:00","2024-01-29T08:00","2024-01-29T09:00","2024-01-29T10:00","2024-01-29T11:00","2024-01-29T12:00","2024-01-29T13:00","2024-01-29T14:00","2024-01-29T15:00","2024-01-29T16:00","2024-01-29T17:00","2024-01-29T18:00","2024-01-29T19:00","2024-01-29T20:00","2024-01-29T21:00","2024-01-29T22:00","2024-01-29T23:00","2024-01-30T00:00","2024-01-30T01:00","2024-01-30T02:00","2024-01-30T03:00","2024-01-30T04:00","2024-01-30T05:00","2024-01-30T06:00","2024-01-30T07:00","2024-01-30T08:00","2024-01-30T09:00","2024-01-30T10:00","2024-01-30T11:00","2024-01-30T12:00","2024-01-30T13:00","2024-01-30T14:00","2024-01-30T15:00","2024-01-30T16:00","2024-01-30T17:00","2024-01-30T18:00","2024-01-30T19:00","2024-01-30T20:00","2024-01-30T21:00","2024-01-30T22:00","2024-01-30T23:00","2024-01-31T00:00","2024-01-31T01:00","2024-01-31T02:00","2024-01-31T03:00","2024-01-31T04:00","2024-01-31T05:00","2024-01-31T06:00","2024-01-31T07:00","2024-01-31T08:00","2024-01-31T09:00","2024-01-31T10:00","2024-01-31T11:00","2024-01-31T12:00","2024-01-31T13:00","2024-01-31T14:00","2024-01-31T15:00","2024-01-31T16:00","2024-01-31T17:00","2024-01-31T18:00","2024-01-31T19:00","2024-01-31T20:00","2024-01-31T21:00","2024-01-31T22:00","2024-01-31T23:00","2024-02-01T00:00","2024-02-01T01:00","2024-02-01T02:00","2024-02-01T03:00","2024-02-01T04:00","2024-02-01T05:00","2024-02-01T06:00","2024-02-01T07:00","2024-02-01T08:00","2024-02-01T09:00","2024-02-01T10:00","2024-02-01T11:00","2024-02-01T12:00","2024-02-01T13:00","2024-02-01T14:00","2024-02-01T15:00","2024-02-01T16:00","2024-02-01T17:00","2024-02-01T18:00","2024-02-01T19:00","2024-02-01T20:00","2024-02-01T21:00","2024-02-01T22:00","2024-02-01T23:00","2024-02-02T00:00","2024-02-02T01:00","2024-02-02T02:00","2024-02-02T03:00","2024-02-02T04:00","2024-02-02T05:00","2024-02-02T06:00","2024-02-02T07:00","2024-02-02T08:00","2024-02-02T09:00","2024-02-02T10:00","2024-02-02T11:00","2024-02-02T12:00","2024-02-02T13:00","2024-02-02T14:00","2024-02-02T15:00","2024-02-02T16:00","2024-02-02T17:00","2024-02-02T18:00","2024-02-02T19:00","2024-02-02T20:00","2024-02-02T21:00","2024-02-02T22:00","2024-02-02T23:00"],"temperature_2m":[12.4,12.2,12.9,14.7,16.7,18.8,21.5,22.9,23.8,23.9,23.4,22.5,20.7,18.9,17.6,16.8,16.2,15.8,15.4,14.7,14.0,13.2,12.6,12.2,11.8,11.6,12.5,15.5,18.4,21.0,22.7,23.8,24.5,24.6,24.4,23.7,22.0,20.1,18.9,18.2,17.7,17.0,16.3,15.7,15.0,14.5,14.1,13.7,13.5,13.3,14.1,17.0,20.0,22.3,23.9,25.0,25.8,26.1,25.9,25.3,23.7,21.8,20.3,19.8,18.9,18.2,17.5,17.1,16.7,16.3,15.9,15.7,15.5,15.4,16.3,19.2,22.1,24.2,25.7,26.7,27.3,27.6,27.6,27.1,25.5,23.5,22.3,21.3,20.3,19.5,19.0,18.6,18.5,18.4,18.1,17.8,17.9,18.5,19.4,20.5,21.8,23.4,24.5,24.9,24.8,24.6,24.4,24.1,23.7,22.9,22.0,21.2,20.6,20.2,19.8,19.5,19.3,19.1,18.9,18.9,19.0,19.3,19.8,20.5,21.6,22.9,23.9,24.5,24.8,24.7,24.3,23.5,22.7,22.1,21.5,21.0,20.7,20.5,20.4,20.2,20.0,19.9,19.8,19.7,19.8,20.2,20.7,21.4,22.4,23.7,24.8,25.7,26.5,26.7,26.3,25.3,24.3,23.4,22.5,21.8,21.2,20.8,20.4,20.1,19.7,19.4,18.9,18.4]}}

In [ ]:
!curl -s "https://api.open-meteo.com/v1/forecast?latitude=22.5726&longitude=88.3639&current=temperature_2m&hourly=temperature_2m" | python3 -c \
"import sys, json; print(json.load(sys.stdin)['current'])"

{'time': '2024-01-27T16:15', 'interval': 900, 'temperature_2m': 16.1}

In [ ]:
!curl -s "https://api.open-meteo.com/v1/forecast?latitude=22.5726&longitude=88.3639&current=temperature_2m&hourly=temperature_2m" | python3 -c \
"import sys, json; data = json.load(sys.stdin); print(data['current']);print(data['latitude'],data['longitude']) "

{'time': '2024-01-27T16:15', 'interval': 900, 'temperature_2m': 16.1}
22.625 88.375

In [ ]:
!curl -s "https://api.open-meteo.com/v1/forecast?latitude=22.5726&longitude=88.3639&current=temperature_2m&hourly=temperature_2m" | python3 -c \
"import sys, json; data = json.load(sys.stdin); print(data['current']['time'],data['current']['temperature_2m'] );print(data['latitude'],data['longitude']) "

2024-01-27T16:15 16.1
22.625 88.375

#Python Access | SQL Alchemy

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
#connect_string = 'mysql://root@localhost/praxisDB'
connect_string = 'postgresql://'+PGUSER+':'+PGPASSWORD+'@'+PGHOST+'/'+PGDATABASE
#print(connect_string)
pg_engine = create_engine(connect_string)
pg_Conn = pg_engine.connect()

In [ ]:
pg_Conn = pg_engine.connect()
cursor = pg_Conn.execute(text("SELECT VERSION()"))

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version ", data)
# disconnect from server
pg_Conn.close()

Database version  ('PostgreSQL 15.5 on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [ ]:
pg_Conn = pg_engine.connect()
#Retrieving data
pg_cursor = pg_Conn.execute(text("select * from r_empl where jobdesc like '%Manager'"))
#Fetching all rows from the table
result = pg_cursor.fetchall();
#print(result)
pg_Conn.close()
resultdf = pd.DataFrame(result)
resultdf

,empid,lastname,firstname,jobdesc,joindate,salary,comm,deptid,createddate
0,349870,Mukherjee2,Rani,Manager,2005-05-04,25000,0.06,40,2024-01-27 16:10:33.136783
1,239456,Khan2,Shahrukh,Manager,2004-01-03,30000,0.07,20,2024-01-27 16:10:33.136783
2,822134,Dravid2,Rahul,Sr Manager,2000-06-04,40000,0.08,30,2024-01-27 16:10:33.136783

#Sign Off

In [ ]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2024-01-27 21:54:07.154847+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)