<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_2D_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2024-01-16 10:50:57.428436+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

#Install, Configure Local Database

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#!pip install psycopg2
import psycopg2
import pandas as pd
pd.set_option('display.max_colwidth', 500)
#!sudo -u postgres psql -V
!psql -V
!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1)
 * Starting PostgreSQL 14 database server
   ...done.

## Local Configuration

In [3]:
# This has created an Ubuntu user 'postgres' AND a Postgres database user 'postgres' both of which are superusers
#!cat /etc/passwd
# Use these users to create a new database user called 'upraxis' and give it a password 'upass'
#!sudo -u postgres createuser --superuser upraxis
!sudo -u postgres createuser upraxis
!sudo -u postgres psql -U postgres -c "ALTER USER upraxis PASSWORD 'upass';"
# Change the database superuser 'postgres' to a non-default value 'pass'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
# Use ubuntu superuser to create database dbpraxis and set its owner to upraxis
!sudo -u postgres createdb -O upraxis dbpraxis
# Create file to store the password. Else will be prompted each time
#!echo "localhost:5432:praxisdb:postgres:pass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:upraxis:upass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:postgres:pass" >> ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

ALTER ROLE
ALTER ROLE
localhost:5432:dbpraxis:upraxis:upass
localhost:5432:dbpraxis:postgres:pass

In [4]:
# Local Colab server

conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.10 (Ubuntu 14.10-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

In [5]:
def runSelect(s):
    #Set up connection

    conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(len(result))
    if (len(result)) > 0:                                       # result contains at least one row
        colnames = [desc[0] for desc in cursor.description]     # get column names
        #print(colnames)
        resultdf = pd.DataFrame(result)                         # convert list to dataframe
        resultdf.columns = colnames                             # add column names
        #return resultdf
        return resultdf.style.hide()                            # hide the index
    else:
        print('no records found')
        return
# function to execute SQL non-select statements with Postgres
#
def runCmd(s):
    #Create Connection
    conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    conn.close()

#Local Database

## Create Tables

In [6]:
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c 'drop schema if exists js cascade'
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c 'create schema if not exists js'
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c '\dn+'
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c 'drop table if exists js.orders'
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c '\
CREATE TABLE js.orders ( \
	id serial NOT NULL PRIMARY KEY, \
	info jsonb NOT NULL \
);'

#Describe the table ss_order
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c '\d+ js.orders'

NOTICE:  schema "js" does not exist, skipping
DROP SCHEMA
CREATE SCHEMA
                          List of schemas
  Name  |  Owner   |  Access privileges   |      Description
--------+----------+----------------------+------------------------
 js     | upraxis  |                      |
 public | postgres | postgres=UC/postgres+| standard public schema
        |          | =UC/postgres         |
(2 rows)

NOTICE:  table "orders" does not exist, skipping
DROP TABLE
CREATE TABLE
                                                           Table "js.orders"
 Column |  Type   | Collation | Nullable |                Default                | Storage  | Compression | Stats target | Description
--------+---------+-----------+----------+---------------------------------------+----------+-------------+--------------+-------------
 id     | integer |           | not null | nextval('js.orders_id_seq'::regclass) | plain    |             |              |
 info   | jsonb   |           | not null |                                       | extended |             |              |
Indexes:
    "orders_pkey" PRIMARY KEY, btree (id)
Access method: heap

## Load Data - Insert Option

In [7]:
cmd = """INSERT INTO js.orders (info) VALUES('{ "customer": "Kapil Dev", "items": {"product": "Heineken","qty": 6}}');"""
#print(cmd)
runCmd(cmd)
runSelect('select * from js.orders')

Command executed

In [8]:
cmd = """INSERT INTO js.orders (info) \
VALUES('{ "customer": "Rekha Ganesan", "items": {"product": "Carlsberg","qty": 24}}'), \
      ('{ "customer": "Madhuri Dikshit", "items": {"product": "Kalyani","qty": 12}}'), \
      ('{ "customer": "Farokh Engineer", "items": {"product": "Kalyani Black","qty": 12}}'); \
"""
#print(cmd)
runCmd(cmd)
runSelect('select * from js.orders')

Command executed

In [9]:
cmd = """\
INSERT INTO js.orders (info) \
VALUES('{   "customer": "Saina Nehwal", \
            "items": [\
                {"product": "Bira91","qty": 6}, \
                {"product": "Kingfisher Light","qty": 6} \
            ] \
        }');\
"""
#print(cmd)
runCmd(cmd)
runSelect('select * from js.orders')

Command executed

## Load Data - Copy Option

In [10]:
%%writefile data.json
{ "customer": "Kapil Dev", "items": {"product": "Heineken","qty": 6}}
{ "customer": "Rekha Ganesan", "items": {"product": "Carlsberg","qty": 24}}
{ "customer": "Madhuri Dikshit", "items": {"product": "Kalyani","qty": 12}}
{ "customer": "Farokh Engineer", "items": {"product": "Kalyani Black","qty": 12}}

Writing data.json

In [11]:
#!cat data.json

In [12]:
# Only superuser ('postgres') can use copy command, not even database owner ('upraxis')
# 'postgres' password has to be entered manually
#
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "truncate js.orders ;"
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY js.orders(info) FROM '/content/data.json' ;"
#!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY empl FROM '/content/emp.csv' DELIMITER ',' CSV HEADER;"

TRUNCATE TABLE
COPY 4

In [13]:
# Data deleted by serial number NOT reset
runSelect('select * from js.orders')

In [14]:
%%writefile data.json
{ "customer": "Kapil", "items": {"product": "Heineken","qty": 6}}
{ "customer": "Satyen", "items": {"product": "Heineken","qty": 18}}
{ "customer": "Rekha", "items": {"product": "Carlsberg","qty": 24}}
{ "customer": "Madhuri", "items": {"product": "Kalyani","qty": 12}}
{ "customer": "Srinivas", "items": {"product": "Kingfisher Strong","qty": 12}}
{ "customer": "Saina", "items": [{"product": "Bira91","qty": 6},{"product": "Kalyani","qty": 6} ]}

Overwriting data.json

In [15]:
# Only superuser ('postgres') can use copy command, not even database owner ('upraxis')
# 'postgres' password has to be entered manually
#
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "truncate js.orders restart identity;"
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY js.orders(info) FROM '/content/data.json' ;"
#!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY empl FROM '/content/emp.csv' DELIMITER ',' CSV HEADER;"

TRUNCATE TABLE
COPY 6

In [16]:
runSelect('select * from js.orders')

# Access Data

In [17]:
#!psql -h localhost -p 5432 -Upostgres -dpraxisdb -c "select * from dept;"
cmd = "select * from js.orders;"
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "$cmd"

 id |                                                info
----+-----------------------------------------------------------------------------------------------------
  1 | {"items": {"qty": 6, "product": "Heineken"}, "customer": "Kapil"}
  2 | {"items": {"qty": 18, "product": "Heineken"}, "customer": "Satyen"}
  3 | {"items": {"qty": 24, "product": "Carlsberg"}, "customer": "Rekha"}
  4 | {"items": {"qty": 12, "product": "Kalyani"}, "customer": "Madhuri"}
  5 | {"items": {"qty": 12, "product": "Kingfisher Strong"}, "customer": "Srinivas"}
  6 | {"items": [{"qty": 6, "product": "Bira91"}, {"qty": 6, "product": "Kalyani"}], "customer": "Saina"}
(6 rows)

In [18]:
cmd = "SELECT info ->> 'customer' AS customer FROM js.orders WHERE info -> 'items' ->> 'product' = 'Heineken'; "
#print(cmd)
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "$cmd"

 customer
----------
 Kapil
 Satyen
(2 rows)

In [19]:
cmd = "SELECT info ->> 'customer' AS customer FROM js.orders WHERE info -> 'items' ->> 'product' = 'Kalyani'; "
#print(cmd)
!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "$cmd"

 customer
----------
 Madhuri
(1 row)

In [20]:
cmd = """SELECT id, info ->> 'customer' AS customer \
FROM   js.orders \
WHERE  info -> 'items' @? 'lax $.product ? (@ == \"Kalyani\")';"""
print(cmd)
#!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c """$cmd"""
runSelect(cmd)

SELECT id, info ->> 'customer' AS customer FROM   js.orders WHERE  info -> 'items' @? 'lax $.product ? (@ == "Kalyani")';

In [21]:
# https://stackoverflow.com/questions/77772487/where-condition-to-filter-json-data-in-nested-object-or-array/

!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c """\
SELECT id, info ->> 'customer' AS customer \
FROM   js.orders \
WHERE  info -> 'items' @? '$.product ? (@ == \"Kalyani\")';\
"""

 id | customer
----+----------
  4 | Madhuri
  6 | Saina
(2 rows)

In [24]:
#!psql -h localhost -p 5432 -Uupraxis -ddbpraxis -c "SELECT json_each (info) FROM js.orders;"

In [25]:
#!psql -h localhost -p 5432 -U upraxis -d dbpraxis -c "select distinct * from empl, dept where empl.deptid = dept.deptid;"

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)