<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/PG24_3G_Ex_Retail51289.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Yantrajaal Banner](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Postgres Exercises <br>
Using the same data used in Retail Sales Data Analysis exercise given in python textbook [Structured Thinking with Python](https://store.pothi.com/book/prithwis-mukerjee-structured-thinking-python/)

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2025-08-22 07:04:50.854432+05:30
Python 3.12.11
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.4 LTS
Release:	22.04
Codename:	jammy

#Install & Configure Postgres

For Connecting to a Postgres server on Amazon RDS, see [this notebook](https://github.com/Praxis-QR/RDWH/blob/main/PostgreSQL_01_Install_Config.ipynb)

In [2]:
# Install postgresql server

!apt update > /dev/null
!apt install postgresql > /dev/null
#!sudo -u postgres psql -V
!psql -V
!service postgresql start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

psql (PostgreSQL) 14.18 (Ubuntu 14.18-0ubuntu0.22.04.1)
 * Starting PostgreSQL 14 database server
   ...done.

#Create Schema, Tables and Insert Data

In [3]:
# This has created an Ubuntu user 'postgres' AND a Postgres database user 'postgres' both of which are superusers
#!cat /etc/passwd
# Use these users to create a new database user called 'upraxis' and give it a password 'upass'
#!sudo -u postgres createuser --superuser upraxis
!sudo -u postgres createuser upraxis
!sudo -u postgres psql -U postgres -c "ALTER USER upraxis PASSWORD 'upass';"
# Change the database superuser 'postgres' to a non-default value 'pass'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pass';"
# Use ubuntu superuser to create database dbpraxis and set its owner to upraxis
!sudo -u postgres createdb -O upraxis dbpraxis
# Create file to store the password. Else will be prompted each time
!echo "localhost:5432:dbpraxis:upraxis:upass" > ~/.pgpass
!echo "localhost:5432:dbpraxis:postgres:pass" >> ~/.pgpass
!chmod 0600 ~/.pgpass
!cat ~/.pgpass

ALTER ROLE
ALTER ROLE
localhost:5432:dbpraxis:upraxis:upass
localhost:5432:dbpraxis:postgres:pass

In [4]:
# Get Retail Sales Data
!wget -q https://github.com/Praxis-QR/RDWH/raw/refs/heads/main/data/RetailSales51289.zip
!unzip RetailSales51289.zip
#!head RetailSales51289.csv

Archive:  RetailSales51289.zip
  inflating: RetailSales51289.csv
order_date,ship_date,ship_mode,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
2011-01-01,2011-01-06,Standard Class,Consumer,Constantine,Algeria,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.14,35.46,Medium,2011
2011-01-01,2011-01-08,Standard Class,Consumer,New South Wales,Australia,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2011-01-01,2011-01-05,Second Class,Consumer,Budapest,Hungary,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.64,8.17,High,2011
2011-01-01,2011-01-05,Second Class,Home Office,Stockholm,Sweden,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
2011-01-01,2011-01-08,Standard Class,Consumer,New South Wales,Australia,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.77,4.7,Medium,2011
2011-01-01,2011-01-08,Standard Class,Consumer,New South Wales,Australia,APAC,Oceania,OFF-PA-10001968,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",55,2,0.1,15.342,1.8,Medium,2011
2011-01-02,2011-01-06,Standard Class,Consumer,Ontario,Canada,Canada,Canada,TEC-OKI-10002750,Technology,Machines,"Okidata Inkjet, Wireless",314,1,0.0,3.12,24.1,Medium,2011
2011-01-03,2011-01-03,Same Day,Corporate,New South Wales,Australia,APAC,Oceania,OFF-AP-10000304,Office Supplies,Appliances,"Hoover Microwave, White",276,1,0.1,110.412,125.32,Critical,2011
2011-01-03,2011-01-09,Standard Class,Consumer,Auckland,New Zealand,APAC,Oceania,TEC-CO-10004182,Technology,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.4,-319.464,107.1,Low,2011

In [7]:
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c 'drop table if exists SalesData'
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c '\
CREATE TABLE SalesData ( \
    order_date      DATE, \
    ship_date       DATE, \
    ship_mode       VARCHAR(50), \
    segment         VARCHAR(50), \
    state           VARCHAR(100), \
    country         VARCHAR(100), \
    market          VARCHAR(50), \
    region          VARCHAR(50), \
    product_id      VARCHAR(50), \
    category        VARCHAR(50), \
    sub_category    VARCHAR(50), \
    product_name    TEXT, \
    sales           NUMERIC(12,2), \
    quantity        INT, \
    discount        NUMERIC(5,2), \
    profit          NUMERIC(12,2), \
    shipping_cost   NUMERIC(12,2), \
    order_priority  VARCHAR(20), \
    year            INT \
); \
'
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c '\dt public.*'
# --------------------------------------------------------------

NOTICE:  table "salesdata" does not exist, skipping
DROP TABLE
CREATE TABLE
                           List of relations
       Schema       |          Name           |    Type     |  Owner
--------------------+-------------------------+-------------+----------
 information_schema | sql_features            | table       | postgres
 information_schema | sql_implementation_info | table       | postgres
 information_schema | sql_parts               | table       | postgres
 information_schema | sql_sizing              | table       | postgres
 pg_catalog         | pg_aggregate            | table       | postgres
 pg_catalog         | pg_am                   | table       | postgres
 pg_catalog         | pg_amop                 | table       | postgres
 pg_catalog         | pg_amproc               | table       | postgres
 pg_catalog         | pg_attrdef              | table       | postgres
 pg_catalog         | pg_attribute            | table       | postgres
 pg_catalog         | pg_auth_members         | table       | postgres
 pg_catalog         | pg_authid               | table       | postgres
 pg_catalog         | pg_cast                 | table       | postgres
 pg_catalog         | pg_class                | table       | postgres
 pg_catalog         | pg_collation            | table       | postgres
 pg_catalog         | pg_constraint           | table       | postgres
 pg_catalog         | pg_conversion           | table       | postgres
 pg_catalog         | pg_database             | table       | postgres
 pg_catalog         | pg_db_role_setting      | table       | postgres
 pg_catalog         | pg_default_acl          | table       | postgres
 pg_catalog         | pg_depend               | table       | postgres
 pg_catalog         | pg_description          | table       | postgres
 pg_catalog         | pg_enum                 | table       | postgres
 pg_catalog         | pg_event_trigger        | table       | postgres
 pg_catalog         | pg_extension            | table       | postgres
 pg_catalog         | pg_foreign_data_wrapper | table       | postgres
 pg_catalog         | pg_foreign_server       | table       | postgres
 pg_catalog         | pg_foreign_table        | table       | postgres
 pg_catalog         | pg_index                | table       | postgres
 pg_catalog         | pg_inherits             | table       | postgres
 pg_catalog         | pg_init_privs           | table       | postgres
 pg_catalog         | pg_language             | table       | postgres
 pg_catalog         | pg_largeobject          | table       | postgres
 pg_catalog         | pg_largeobject_metadata | table       | postgres
 pg_catalog         | pg_namespace            | table       | postgres
 pg_catalog         | pg_opclass              | table       | postgres
 pg_catalog         | pg_operator             | table       | postgres
 pg_catalog         | pg_opfamily             | table       | postgres
 pg_catalog         | pg_partitioned_table    | table       | postgres
 pg_catalog         | pg_policy               | table       | postgres
 pg_catalog         | pg_proc                 | table       | postgres
 pg_catalog         | pg_publication          | table       | postgres
 pg_catalog         | pg_publication_rel      | table       | postgres
 pg_catalog         | pg_range                | table       | postgres
 pg_catalog         | pg_replication_origin   | table       | postgres
 pg_catalog         | pg_rewrite              | table       | postgres
 pg_catalog         | pg_seclabel             | table       | postgres
 pg_catalog         | pg_sequence             | table       | postgres
 pg_catalog         | pg_shdepend             | table       | postgres
 pg_catalog         | pg_shdescription        | table       | postgres
 pg_catalog         | pg_shseclabel           | table       | postgres
 pg_catalog         | pg_statistic            | table       | postgres
 pg_catalog         | pg_statistic_ext        | table       | postgres
 pg_catalog         | pg_statistic_ext_data   | table       | postgres
 pg_catalog         | pg_subscription         | table       | postgres
 pg_catalog         | pg_subscription_rel     | table       | postgres
 pg_catalog         | pg_tablespace           | table       | postgres
 pg_catalog         | pg_transform            | table       | postgres
 pg_catalog         | pg_trigger              | table       | postgres
 pg_catalog         | pg_ts_config            | table       | postgres
 pg_catalog         | pg_ts_config_map        | table       | postgres
 pg_catalog         | pg_ts_dict              | table       | postgres
 pg_catalog         | pg_ts_parser            | table       | postgres
 pg_catalog         | pg_ts_template          | table       | postgres
 pg_catalog         | pg_type                 | table       | postgres
 pg_catalog         | pg_user_mapping         | table       | postgres
 pg_toast           | pg_toast_1213           | TOAST table | postgres
 pg_toast           | pg_toast_1247           | TOAST table | postgres
 pg_toast           | pg_toast_1255           | TOAST table | postgres
 pg_toast           | pg_toast_1260           | TOAST table | postgres
 pg_toast           | pg_toast_1262           | TOAST table | postgres
 pg_toast           | pg_toast_13579          | TOAST table | postgres
 pg_toast           | pg_toast_13584          | TOAST table | postgres
 pg_toast           | pg_toast_13589          | TOAST table | postgres
 pg_toast           | pg_toast_13594          | TOAST table | postgres
 pg_toast           | pg_toast_1417           | TOAST table | postgres
 pg_toast           | pg_toast_1418           | TOAST table | postgres
 pg_toast           | pg_toast_16386          | TOAST table | upraxis
 pg_toast           | pg_toast_16391          | TOAST table | upraxis
 pg_toast           | pg_toast_2328           | TOAST table | postgres
 pg_toast           | pg_toast_2396           | TOAST table | postgres
 pg_toast           | pg_toast_2600           | TOAST table | postgres
 pg_toast           | pg_toast_2604           | TOAST table | postgres
 pg_toast           | pg_toast_2606           | TOAST table | postgres
 pg_toast           | pg_toast_2609           | TOAST table | postgres
 pg_toast           | pg_toast_2612           | TOAST table | postgres
 pg_toast           | pg_toast_2615           | TOAST table | postgres
 pg_toast           | pg_toast_2618           | TOAST table | postgres
 pg_toast           | pg_toast_2619           | TOAST table | postgres
 pg_toast           | pg_toast_2620           | TOAST table | postgres
 pg_toast           | pg_toast_2964           | TOAST table | postgres
 pg_toast           | pg_toast_3079           | TOAST table | postgres
 pg_toast           | pg_toast_3118           | TOAST table | postgres
 pg_toast           | pg_toast_3256           | TOAST table | postgres
 pg_toast           | pg_toast_3350           | TOAST table | postgres
 pg_toast           | pg_toast_3381           | TOAST table | postgres
 pg_toast           | pg_toast_3394           | TOAST table | postgres
 pg_toast           | pg_toast_3429           | TOAST table | postgres
 pg_toast           | pg_toast_3456           | TOAST table | postgres
 pg_toast           | pg_toast_3466           | TOAST table | postgres
 pg_toast           | pg_toast_3592           | TOAST table | postgres
 pg_toast           | pg_toast_3596           | TOAST table | postgres
 pg_toast           | pg_toast_3600           | TOAST table | postgres
 pg_toast           | pg_toast_6000           | TOAST table | postgres
 pg_toast           | pg_toast_6100           | TOAST table | postgres
 pg_toast           | pg_toast_826            | TOAST table | postgres
 public             | retail_sales            | table       | upraxis
 public             | salesdata               | table       | upraxis
(108 rows)

In [ ]:
# One way to handle UTF8 error
#
#!iconv -c -t utf8 eCommerce.csv > eCommerce.utf8.csv
#!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY ec.ecommerce FROM '/content/eCommerce.utf8.csv' DELIMITER ',' CSV HEADER;"

In [8]:
# Only superuser ('postgres') can use copy command, not even database owner ('upraxis')
# 'postgres' password has to be entered manually, password = 'pass'
#
!psql -h localhost -p 5432 -Upostgres -ddbpraxis -c "COPY salesdata FROM '/content/RetailSales51289.csv' DELIMITER ',' CSV HEADER ;"

COPY 51290

In [9]:
#!cat ItemsOrdered.csv
!psql -h localhost -p 5432 -Uupraxis -d dbpraxis -c 'select * from SalesData limit 5'

 order_date | ship_date  |   ship_mode    |   segment   |      state      |  country  | market | region  |    product_id    |    category     | sub_category |        product_name         | sales  | quantity | discount | profit | shipping_cost | order_priority | year
------------+------------+----------------+-------------+-----------------+-----------+--------+---------+------------------+-----------------+--------------+-----------------------------+--------+----------+----------+--------+---------------+----------------+------
 2011-01-01 | 2011-01-06 | Standard Class | Consumer    | Constantine     | Algeria   | Africa | Africa  | OFF-TEN-10000025 | Office Supplies | Storage      | Tenex Lockers, Blue         | 408.00 |        2 |     0.00 | 106.14 |         35.46 | Medium         | 2011
 2011-01-01 | 2011-01-08 | Standard Class | Consumer    | New South Wales | Australia | APAC   | Oceania | OFF-SU-10000618  | Office Supplies | Supplies     | Acme Trimmer, High Speed    | 120.00 |        3 |     0.10 |  36.04 |          9.72 | Medium         | 2011
 2011-01-01 | 2011-01-05 | Second Class   | Consumer    | Budapest        | Hungary   | EMEA   | EMEA    | OFF-TEN-10001585 | Office Supplies | Storage      | Tenex Box, Single Width     |  66.00 |        4 |     0.00 |  29.64 |          8.17 | High           | 2011
 2011-01-01 | 2011-01-05 | Second Class   | Home Office | Stockholm       | Sweden    | EU     | North   | OFF-PA-10001492  | Office Supplies | Paper        | Enermax Note Cards, Premium |  45.00 |        3 |     0.50 | -26.06 |          4.82 | High           | 2011
 2011-01-01 | 2011-01-08 | Standard Class | Consumer    | New South Wales | Australia | APAC   | Oceania | FUR-FU-10003447  | Furniture       | Furnishings  | Eldon Light Bulb, Duo Pack  | 114.00 |        5 |     0.10 |  37.77 |          4.70 | Medium         | 2011
(5 rows)

## Python Access
https://www.tutorialspoint.com/python_data_access/python_postgresql_database_connection.htm

In [11]:
#!pip install psycopg2
import psycopg2
import pandas as pd

In [12]:
# Local Colab server

conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Executing an MYSQL function using the execute() method
cursor.execute("select version()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)
#Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.18 (Ubuntu 14.18-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

In [13]:
# function to execute SQL select statements with Postgres
#
def runSelect(s):
    #Set up connection

    conn = psycopg2.connect(database="dbpraxis", user='upraxis', password='upass', host='127.0.0.1', port= '5432')
    #Setting auto commit true
    conn.autocommit = True
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    #Retrieving data
    cursor.execute(s)
    #Fetching all rows from the table
    result = cursor.fetchall();
    #print(len(result))
    if (len(result)) > 0:                                       # result contains at least one row
        colnames = [desc[0] for desc in cursor.description]     # get column names
        #print(colnames)
        resultdf = pd.DataFrame(result)                         # convert list to dataframe
        resultdf.columns = colnames                             # add column names
        #return resultdf
        return resultdf.style.hide()                            # hide the index
    else:
        print('no records found')
        return
# function to execute SQL non-select statements with Postgres
#
def runCmd(s):
    #Create Connection
    conn = psycopg2.connect(database="exercises", user='postgres', password='pass', host='127.0.0.1', port= '5432')
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    try:
        cursor.execute(s)
        print('Command executed')
        conn.commit()
    except:
        print('Command failed')
    #Closing the connection
    conn.close()

##Check Data

In [15]:
runSelect("select * from SalesData limit 10")

#ChronoTYM <br>
In Indic phraseology, tantra is knowledge, a yantra is a device to explore this knowledge and a mantra is the code that unlocks both the tantra and its yantra. Chrono/TYM a sci-fi trilogy that recreates this framework where the first novel Chronotantra defines the contours of a tech driven, futuristic society, the second, Chronoyantra, describes a device used to explore the genesis of this society, while the third, Chronomantra finally reveals the code, the key, that unlocks this puzzle.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjdu_ajYwBRzk5iFYlcs59ZoRMMg6rhNm4JERKspvFJoveJsnfwRlzMICiC37UOja_Bd4sbfLA1pyyBbe0mj3tUfDBXoqCzNUDw3Wux7acoJBaLkWjAvJXfa7drRY2GQRAlFxEY9O7a7raY4RKy7cA3Uxgf5QsaZQ99C9GfXxFSex_rke8ROhAn41t8zOqK/s1640/tymBanner01_3.png)

In [ ]:
from datetime import datetime
import pytz
print('Last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

Last tested   2025-02-27 06:09:40.013195+05:30