<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/SQL_for_Data_Science_L3_Procedures_%26_K_Means.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#K-Means Clustering with SQL
<br>

Based on the code given by [Joni Salonen](http://jonisalonen.com/2012/k-means-clustering-in-mysql/)

# Install MySQL

In [1]:
# install mysql on colab
#!apt-get -y install mysql-server
!apt update > /dev/null
!apt -y install mysql-server > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
!ls /etc/init.d/mysql

/etc/init.d/mysql

In [3]:
!/etc/init.d/mysql restart

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [4]:
!mysql -e 'show databases'

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [5]:
!mysql -e 'create database praxisDB'
!mysql -e 'show databases'

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| praxisDB           |
| sys                |
+--------------------+

# Basic K-Means <br>
the code is available on [this blog post](http://blog.yantrajaal.com/2016/11/k-means-clustering-with-sql.html).

In [42]:
!mysql praxisDB -e 'drop table if exists km_data;'
!mysql praxisDB -e 'drop table if exists km_clusters;'
!mysql praxisDB -e 'drop table if exists km_steps;'

In [43]:
!mysql praxisDB -e 'create table km_data (id int primary key, cluster_id int, x1 float, x2 float);'
!mysql praxisDB -e 'create table km_clusters (id int auto_increment primary key, x1 float, x2 float);'
!mysql praxisDB -e 'create table km_steps (id int, x1 float, x2 float);'

In [8]:
%%writefile SQLproc.sql
drop procedure if exists kmeans;
DELIMITER //
CREATE PROCEDURE kmeans(v_K int)
BEGIN
TRUNCATE km_clusters;
truncate km_steps;

-- initialize cluster centers
INSERT INTO km_clusters (x1, x2) SELECT x1, x2 FROM km_data LIMIT v_K;
REPEAT
    insert into km_steps select * from km_clusters;
    -- assign clusters to data points
    UPDATE km_data d SET cluster_id = (SELECT id FROM km_clusters c
        ORDER BY POW(d.x1-c.x1,2)+POW(d.x2-c.x2,2) ASC LIMIT 1);
    -- calculate new cluster center
    UPDATE km_clusters C, (SELECT cluster_id,
        AVG(x1) AS x1, AVG(x2) AS x2
        FROM km_data GROUP BY cluster_id) D
  SET C.x1=D.x1, C.x2=D.x2 WHERE C.id=D.cluster_id;
UNTIL ROW_COUNT() = 0 END REPEAT;
END//

Writing SQLproc.sql

In [44]:
!mysql praxisDB --table < SQLproc.sql

In [45]:
!mysql praxisDB -e 'truncate km_data;'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (1,0,185,72);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (2,0,170,56);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (3,0,168,60);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (4,0,179,68);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (5,0,182,72);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (6,0,188,77);'

!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (7,0,180,71);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (8,0,180,70);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (9,0,183,84);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (10,0,180,88);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (11,0,180,67);'
!mysql praxisDB -e 'insert into km_data (id, cluster_id,x1,x2) values (12,0,177,76);'

In [46]:
!mysql praxisDB -e 'call kmeans(2);'

In [47]:
!mysql praxisDB -e 'select * from km_clusters;'

+----+-------+------+
| id | x1    | x2   |
+----+-------+------+
|  1 | 181.4 | 74.5 |
|  2 |   169 |   58 |
+----+-------+------+

ROW_COUNT() return number of rows updated in the previous SQL statement <br>
see this [page](http://www.java2s.com/Tutorial/MySQL/0400__Information-Functions/ROWCOUNTreturnsthenumberofrowsupdatedinsertedordeletedbytheprecedingstatement.htm)

#K Means with Iris Dataset <br>
taken from this [site](https://github.com/antmarakis/Machine-Learning/blob/master/Clustering/kMeans%20-%20Standard/data.txt)

In [48]:
!wget https://raw.githubusercontent.com/antmarakis/Machine-Learning/master/Clustering/kMeans%20-%20Standard/data.txt

--2023-08-25 07:42:06--  https://raw.githubusercontent.com/antmarakis/Machine-Learning/master/Clustering/kMeans%20-%20Standard/data.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4698 (4.6K) [text/plain]
Saving to: ‘data.txt.1’

data.txt.1          100%[===================>]   4.59K  --.-KB/s    in 0s

2023-08-25 07:42:07 (47.9 MB/s) - ‘data.txt.1’ saved [4698/4698]

In [49]:
!head data.txt

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa

In [50]:
!mysql praxisDB -e 'drop table if exists iris_data;'
!mysql praxisDB -e 'create table iris_data (x1 float, x2 float, x3 float, x4 float, label varchar(16));'

In [16]:
!mysql praxisDB -e 'desc iris_data'

+-------+-------------+------+-----+---------+-------+
| Field | Type        | Null | Key | Default | Extra |
+-------+-------------+------+-----+---------+-------+
| x1    | float       | YES  |     | NULL    |       |
| x2    | float       | YES  |     | NULL    |       |
| x3    | float       | YES  |     | NULL    |       |
| x4    | float       | YES  |     | NULL    |       |
| label | varchar(16) | YES  |     | NULL    |       |
+-------+-------------+------+-----+---------+-------+

In [17]:
#!mysql praxisDB -e 'truncate iris_data;'
#!mysql praxisDB -e 'select count(*) from iris_data;'

In [51]:
# Allow LOAD on server side   # https://stackoverflow.com/questions/59993844/error-loading-local-data-is-disabled-this-must-be-enabled-on-both-the-client
!mysql praxisDB -e 'SET GLOBAL local_infile=1;'

In [53]:
!mysql --local-infile=1 praxisDB -e "LOAD DATA LOCAL INFILE 'data.txt' INTO TABLE iris_data FIELDS TERMINATED BY ',' LINES TERMINATED BY '\r\n' ;"

In [54]:
!mysql praxisDB -e 'select count(*) from iris_data;'
!mysql praxisDB -e 'select * from iris_data limit 5;'

+----------+
| count(*) |
+----------+
|      150 |
+----------+
+------+------+------+------+-------------+
| x1   | x2   | x3   | x4   | label       |
+------+------+------+------+-------------+
|  5.1 |  3.5 |  1.4 |  0.2 | Iris-setosa |
|  4.9 |    3 |  1.4 |  0.2 | Iris-setosa |
|  4.7 |  3.2 |  1.3 |  0.2 | Iris-setosa |
|  4.6 |  3.1 |  1.5 |  0.2 | Iris-setosa |
|    5 |  3.6 |  1.4 |  0.2 | Iris-setosa |
+------+------+------+------+-------------+

In [55]:
!mysql praxisDB -e 'drop table if exists km_iris;'
!mysql praxisDB -e 'create table km_iris (id int auto_increment primary key, clusterID int, x1 float, x2 float, x3 float, x4 float, label varchar(16));'

In [56]:
!mysql praxisDB -e 'desc km_iris;'

+-----------+-------------+------+-----+---------+----------------+
| Field     | Type        | Null | Key | Default | Extra          |
+-----------+-------------+------+-----+---------+----------------+
| id        | int         | NO   | PRI | NULL    | auto_increment |
| clusterID | int         | YES  |     | NULL    |                |
| x1        | float       | YES  |     | NULL    |                |
| x2        | float       | YES  |     | NULL    |                |
| x3        | float       | YES  |     | NULL    |                |
| x4        | float       | YES  |     | NULL    |                |
| label     | varchar(16) | YES  |     | NULL    |                |
+-----------+-------------+------+-----+---------+----------------+

In [57]:
%%writefile step10.sql
INSERT INTO km_iris (clusterID,x1,x2,x3,x4,label)
SELECT '0',x1,x2,x3,x4,label
FROM iris_data;

Overwriting step10.sql

In [58]:
!mysql praxisDB --table < step10.sql

In [59]:
!mysql praxisDB -e 'select * from km_iris limit 10;'

+----+-----------+------+------+------+------+-------------+
| id | clusterID | x1   | x2   | x3   | x4   | label       |
+----+-----------+------+------+------+------+-------------+
|  1 |         0 |  5.1 |  3.5 |  1.4 |  0.2 | Iris-setosa |
|  2 |         0 |  4.9 |    3 |  1.4 |  0.2 | Iris-setosa |
|  3 |         0 |  4.7 |  3.2 |  1.3 |  0.2 | Iris-setosa |
|  4 |         0 |  4.6 |  3.1 |  1.5 |  0.2 | Iris-setosa |
|  5 |         0 |    5 |  3.6 |  1.4 |  0.2 | Iris-setosa |
|  6 |         0 |  5.4 |  3.9 |  1.7 |  0.4 | Iris-setosa |
|  7 |         0 |  4.6 |  3.4 |  1.4 |  0.3 | Iris-setosa |
|  8 |         0 |    5 |  3.4 |  1.5 |  0.2 | Iris-setosa |
|  9 |         0 |  4.4 |  2.9 |  1.4 |  0.2 | Iris-setosa |
| 10 |         0 |  4.9 |  3.1 |  1.5 |  0.1 | Iris-setosa |
+----+-----------+------+------+------+------+-------------+

In [60]:
%%writefile step11.sql

drop table if exists km_clusters;  -- contains the final clusters centres
drop table if exists km_steps;     -- shows intermediate steps
create table km_clusters (id int auto_increment primary key, x1 float, x2 float, x3 float, x4 float);
create table km_steps (id int, x1 float, x2 float, x3 float, x4 float);

Overwriting step11.sql

In [61]:
!mysql praxisDB --table < step11.sql

In [62]:
%%writefile step14.sql
drop procedure if exists kmeans;
DELIMITER //
CREATE PROCEDURE kmeans(v_K int)
BEGIN
TRUNCATE km_clusters;
truncate km_steps;

-- initialize cluster centers
INSERT INTO km_clusters (x1, x2, x3,x4) SELECT x1, x2,x3,x4 FROM km_iris LIMIT v_K;
REPEAT
    insert into km_steps select * from km_clusters;
    -- assign clusters to data points
    UPDATE km_iris d SET clusterID = (SELECT id FROM km_clusters c
        ORDER BY POW(d.x1-c.x1,2)+POW(d.x2-c.x2,2)+POW(d.x3-c.x3,2)+POW(d.x4-c.x4,2) ASC LIMIT 1);
    -- calculate new cluster center
    UPDATE km_clusters C, (SELECT clusterID,
        AVG(x1) AS x1, AVG(x2) AS x2, AVG(x3) AS x3, AVG(x4) AS x4
        FROM km_iris GROUP BY clusterID) D
    SET C.x1=D.x1, C.x2=D.x2, C.x3=D.x3, C.x4=D.x4 WHERE C.id=D.clusterID;
UNTIL ROW_COUNT() = 0 END REPEAT;
END//

Overwriting step14.sql

In [63]:
!mysql praxisDB --table < step14.sql

In [64]:
!mysql praxisDB -e 'select * from km_clusters;'

In [65]:
!mysql praxisDB -e 'select * from km_steps;'

In [66]:
!mysql praxisDB -e 'call kmeans(3)'

In [67]:
!mysql praxisDB -e 'select * from km_clusters;'

+----+---------+---------+---------+---------+
| id | x1      | x2      | x3      | x4      |
+----+---------+---------+---------+---------+
|  1 | 6.85385 | 3.07692 | 5.71538 | 2.05385 |
|  2 | 5.88361 | 2.74098 | 4.38852 | 1.43443 |
|  3 |   5.006 |   3.418 |   1.464 |   0.244 |
+----+---------+---------+---------+---------+

In [68]:
# look at 10 random rows from the output after clusters have been identified
!mysql praxisDB -e 'select * from km_iris order by rand() limit 10;'

+-----+-----------+------+------+------+------+-----------------+
| id  | clusterID | x1   | x2   | x3   | x4   | label           |
+-----+-----------+------+------+------+------+-----------------+
|  51 |         1 |    7 |  3.2 |  4.7 |  1.4 | Iris-versicolor |
|  57 |         2 |  6.3 |  3.3 |  4.7 |  1.6 | Iris-versicolor |
| 148 |         1 |  6.5 |    3 |  5.2 |    2 | Iris-virginica  |
| 135 |         1 |  6.1 |  2.6 |  5.6 |  1.4 | Iris-virginica  |
|  76 |         2 |  6.6 |    3 |  4.4 |  1.4 | Iris-versicolor |
|  16 |         3 |  5.7 |  4.4 |  1.5 |  0.4 | Iris-setosa     |
|  65 |         2 |  5.6 |  2.9 |  3.6 |  1.3 | Iris-versicolor |
| 123 |         1 |  7.7 |  2.8 |  6.7 |    2 | Iris-virginica  |
|   5 |         3 |    5 |  3.6 |  1.4 |  0.2 | Iris-setosa     |
| 115 |         2 |  5.8 |  2.8 |  5.1 |  2.4 | Iris-virginica  |
+-----+-----------+------+------+------+------+-----------------+

In [69]:
!mysql praxisDB -e 'select * from km_steps;'

+------+---------+---------+---------+---------+
| id   | x1      | x2      | x3      | x4      |
+------+---------+---------+---------+---------+
|    1 |     5.1 |     3.5 |     1.4 |     0.2 |
|    2 |     4.9 |       3 |     1.4 |     0.2 |
|    3 |     4.7 |     3.2 |     1.3 |     0.2 |
|    1 |  6.1618 | 3.25955 | 4.02809 | 1.33258 |
|    2 |  5.5451 | 2.67059 | 3.76471 | 1.16078 |
|    3 |    4.53 |    3.18 |    1.33 |     0.2 |
|    1 | 6.53014 | 2.98356 | 5.24521 | 1.84247 |
|    2 | 5.53704 | 2.57037 | 3.98889 | 1.22593 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.57727 | 2.99091 | 5.34848 | 1.89545 |
|    2 |    5.65 | 2.64118 | 4.04706 |    1.25 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.60159 | 2.98571 | 5.38413 | 1.91587 |
|    2 | 5.68378 | 2.67838 | 4.09189 | 1.26757 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |  6.6322 | 2.99831 | 5.43051 | 1.93729 |
|    2 | 5.72927 | 2.69024 | 4.15122 |     1.3 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.66481 | 3.00741 |     5.5 | 1.96852 |
|    2 | 5.78913 | 2.71304 |  4.2087 | 1.33261 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |   6.702 |   3.016 |   5.556 |   1.992 |
|    2 |   5.822 |   2.728 |   4.256 |    1.36 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.76957 | 3.03696 |     5.6 |  2.0087 |
|    2 | 5.82963 | 2.73148 | 4.31481 | 1.39259 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.80233 | 3.04419 | 5.64884 | 2.03023 |
|    2 | 5.85439 | 2.74211 | 4.34561 | 1.40877 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 |  6.8275 |    3.07 |     5.7 |  2.0625 |
|    2 |   5.885 |    2.74 | 4.37667 | 1.41833 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
|    1 | 6.85385 | 3.07692 | 5.71538 | 2.05385 |
|    2 | 5.88361 | 2.74098 | 4.38852 | 1.43443 |
|    3 |   5.006 |   3.418 |   1.464 |   0.244 |
+------+---------+---------+---------+---------+

# Predictions & Labels

In [70]:
!mysql praxisDB -e 'select clusterID, label from km_iris;'

+-----------+-----------------+
| clusterID | label           |
+-----------+-----------------+
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         3 | Iris-setosa     |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         2 | Iris-versicolor |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
|         1 | Iris-virginica  |
|         1 | Iris-virginica  |
|         2 | Iris-virginica  |
+-----------+-----------------+

In [71]:
%%writefile step21.sql
select id, label,
case
  when label = 'Iris-setosa' then 3
  when label = 'Iris-versicolor' then 2
  when label = 'Iris-virginica' then 1
  else  0
end
labelID,
clusterID
from km_iris

Overwriting step21.sql

In [72]:
!mysql praxisDB --table < step21.sql

+-----+-----------------+---------+-----------+
| id  | label           | labelID | clusterID |
+-----+-----------------+---------+-----------+
|   1 | Iris-setosa     |       3 |         3 |
|   2 | Iris-setosa     |       3 |         3 |
|   3 | Iris-setosa     |       3 |         3 |
|   4 | Iris-setosa     |       3 |         3 |
|   5 | Iris-setosa     |       3 |         3 |
|   6 | Iris-setosa     |       3 |         3 |
|   7 | Iris-setosa     |       3 |         3 |
|   8 | Iris-setosa     |       3 |         3 |
|   9 | Iris-setosa     |       3 |         3 |
|  10 | Iris-setosa     |       3 |         3 |
|  11 | Iris-setosa     |       3 |         3 |
|  12 | Iris-setosa     |       3 |         3 |
|  13 | Iris-setosa     |       3 |         3 |
|  14 | Iris-setosa     |       3 |         3 |
|  15 | Iris-setosa     |       3 |         3 |
|  16 | Iris-setosa     |       3 |         3 |
|  17 | Iris-setosa     |       3 |         3 |
|  18 | Iris-setosa     |       3 |         3 |
|  19 | Iris-setosa     |       3 |         3 |
|  20 | Iris-setosa     |       3 |         3 |
|  21 | Iris-setosa     |       3 |         3 |
|  22 | Iris-setosa     |       3 |         3 |
|  23 | Iris-setosa     |       3 |         3 |
|  24 | Iris-setosa     |       3 |         3 |
|  25 | Iris-setosa     |       3 |         3 |
|  26 | Iris-setosa     |       3 |         3 |
|  27 | Iris-setosa     |       3 |         3 |
|  28 | Iris-setosa     |       3 |         3 |
|  29 | Iris-setosa     |       3 |         3 |
|  30 | Iris-setosa     |       3 |         3 |
|  31 | Iris-setosa     |       3 |         3 |
|  32 | Iris-setosa     |       3 |         3 |
|  33 | Iris-setosa     |       3 |         3 |
|  34 | Iris-setosa     |       3 |         3 |
|  35 | Iris-setosa     |       3 |         3 |
|  36 | Iris-setosa     |       3 |         3 |
|  37 | Iris-setosa     |       3 |         3 |
|  38 | Iris-setosa     |       3 |         3 |
|  39 | Iris-setosa     |       3 |         3 |
|  40 | Iris-setosa     |       3 |         3 |
|  41 | Iris-setosa     |       3 |         3 |
|  42 | Iris-setosa     |       3 |         3 |
|  43 | Iris-setosa     |       3 |         3 |
|  44 | Iris-setosa     |       3 |         3 |
|  45 | Iris-setosa     |       3 |         3 |
|  46 | Iris-setosa     |       3 |         3 |
|  47 | Iris-setosa     |       3 |         3 |
|  48 | Iris-setosa     |       3 |         3 |
|  49 | Iris-setosa     |       3 |         3 |
|  50 | Iris-setosa     |       3 |         3 |
|  51 | Iris-versicolor |       2 |         1 |
|  52 | Iris-versicolor |       2 |         2 |
|  53 | Iris-versicolor |       2 |         1 |
|  54 | Iris-versicolor |       2 |         2 |
|  55 | Iris-versicolor |       2 |         2 |
|  56 | Iris-versicolor |       2 |         2 |
|  57 | Iris-versicolor |       2 |         2 |
|  58 | Iris-versicolor |       2 |         2 |
|  59 | Iris-versicolor |       2 |         2 |
|  60 | Iris-versicolor |       2 |         2 |
|  61 | Iris-versicolor |       2 |         2 |
|  62 | Iris-versicolor |       2 |         2 |
|  63 | Iris-versicolor |       2 |         2 |
|  64 | Iris-versicolor |       2 |         2 |
|  65 | Iris-versicolor |       2 |         2 |
|  66 | Iris-versicolor |       2 |         2 |
|  67 | Iris-versicolor |       2 |         2 |
|  68 | Iris-versicolor |       2 |         2 |
|  69 | Iris-versicolor |       2 |         2 |
|  70 | Iris-versicolor |       2 |         2 |
|  71 | Iris-versicolor |       2 |         2 |
|  72 | Iris-versicolor |       2 |         2 |
|  73 | Iris-versicolor |       2 |         2 |
|  74 | Iris-versicolor |       2 |         2 |
|  75 | Iris-versicolor |       2 |         2 |
|  76 | Iris-versicolor |       2 |         2 |
|  77 | Iris-versicolor |       2 |         2 |
|  78 | Iris-versicolor |       2 |         1 |
|  79 | Iris-versicolor |       2 |         2 |
|  80 | Iris-versicolor |       2 |         2 |
|  81 | Iris-versicolor |       2 |         2 |
|  82 | Iris-versicolor |       2 |         2 |
|  83 | Iris-versicolor |       2 |         2 |
|  84 | Iris-versicolor |       2 |         2 |
|  85 | Iris-versicolor |       2 |         2 |
|  86 | Iris-versicolor |       2 |         2 |
|  87 | Iris-versicolor |       2 |         2 |
|  88 | Iris-versicolor |       2 |         2 |
|  89 | Iris-versicolor |       2 |         2 |
|  90 | Iris-versicolor |       2 |         2 |
|  91 | Iris-versicolor |       2 |         2 |
|  92 | Iris-versicolor |       2 |         2 |
|  93 | Iris-versicolor |       2 |         2 |
|  94 | Iris-versicolor |       2 |         2 |
|  95 | Iris-versicolor |       2 |         2 |
|  96 | Iris-versicolor |       2 |         2 |
|  97 | Iris-versicolor |       2 |         2 |
|  98 | Iris-versicolor |       2 |         2 |
|  99 | Iris-versicolor |       2 |         2 |
| 100 | Iris-versicolor |       2 |         2 |
| 101 | Iris-virginica  |       1 |         1 |
| 102 | Iris-virginica  |       1 |         2 |
| 103 | Iris-virginica  |       1 |         1 |
| 104 | Iris-virginica  |       1 |         1 |
| 105 | Iris-virginica  |       1 |         1 |
| 106 | Iris-virginica  |       1 |         1 |
| 107 | Iris-virginica  |       1 |         2 |
| 108 | Iris-virginica  |       1 |         1 |
| 109 | Iris-virginica  |       1 |         1 |
| 110 | Iris-virginica  |       1 |         1 |
| 111 | Iris-virginica  |       1 |         1 |
| 112 | Iris-virginica  |       1 |         1 |
| 113 | Iris-virginica  |       1 |         1 |
| 114 | Iris-virginica  |       1 |         2 |
| 115 | Iris-virginica  |       1 |         2 |
| 116 | Iris-virginica  |       1 |         1 |
| 117 | Iris-virginica  |       1 |         1 |
| 118 | Iris-virginica  |       1 |         1 |
| 119 | Iris-virginica  |       1 |         1 |
| 120 | Iris-virginica  |       1 |         2 |
| 121 | Iris-virginica  |       1 |         1 |
| 122 | Iris-virginica  |       1 |         2 |
| 123 | Iris-virginica  |       1 |         1 |
| 124 | Iris-virginica  |       1 |         2 |
| 125 | Iris-virginica  |       1 |         1 |
| 126 | Iris-virginica  |       1 |         1 |
| 127 | Iris-virginica  |       1 |         2 |
| 128 | Iris-virginica  |       1 |         2 |
| 129 | Iris-virginica  |       1 |         1 |
| 130 | Iris-virginica  |       1 |         1 |
| 131 | Iris-virginica  |       1 |         1 |
| 132 | Iris-virginica  |       1 |         1 |
| 133 | Iris-virginica  |       1 |         1 |
| 134 | Iris-virginica  |       1 |         2 |
| 135 | Iris-virginica  |       1 |         1 |
| 136 | Iris-virginica  |       1 |         1 |
| 137 | Iris-virginica  |       1 |         1 |
| 138 | Iris-virginica  |       1 |         1 |
| 139 | Iris-virginica  |       1 |         2 |
| 140 | Iris-virginica  |       1 |         1 |
| 141 | Iris-virginica  |       1 |         1 |
| 142 | Iris-virginica  |       1 |         1 |
| 143 | Iris-virginica  |       1 |         2 |
| 144 | Iris-virginica  |       1 |         1 |
| 145 | Iris-virginica  |       1 |         1 |
| 146 | Iris-virginica  |       1 |         1 |
| 147 | Iris-virginica  |       1 |         2 |
| 148 | Iris-virginica  |       1 |         1 |
| 149 | Iris-virginica  |       1 |         1 |
| 150 | Iris-virginica  |       1 |         2 |
+-----+-----------------+---------+-----------+

In [38]:
%%writefile step22.sql

select K2.id, if(K2.labelID = K2.clusterID,'match','error') checkPL from (
  select id, label,
    case
    when label = 'Iris-setosa' then 3
    when label = 'Iris-versicolor' then 2
    when label = 'Iris-virginica' then 1
    else  0
    end
  labelID,
  clusterID
  from km_iris
  ) K2

Writing step22.sql

In [74]:
!mysql praxisDB --table < step22.sql

+-----+---------+
| id  | checkPL |
+-----+---------+
|   1 | match   |
|   2 | match   |
|   3 | match   |
|   4 | match   |
|   5 | match   |
|   6 | match   |
|   7 | match   |
|   8 | match   |
|   9 | match   |
|  10 | match   |
|  11 | match   |
|  12 | match   |
|  13 | match   |
|  14 | match   |
|  15 | match   |
|  16 | match   |
|  17 | match   |
|  18 | match   |
|  19 | match   |
|  20 | match   |
|  21 | match   |
|  22 | match   |
|  23 | match   |
|  24 | match   |
|  25 | match   |
|  26 | match   |
|  27 | match   |
|  28 | match   |
|  29 | match   |
|  30 | match   |
|  31 | match   |
|  32 | match   |
|  33 | match   |
|  34 | match   |
|  35 | match   |
|  36 | match   |
|  37 | match   |
|  38 | match   |
|  39 | match   |
|  40 | match   |
|  41 | match   |
|  42 | match   |
|  43 | match   |
|  44 | match   |
|  45 | match   |
|  46 | match   |
|  47 | match   |
|  48 | match   |
|  49 | match   |
|  50 | match   |
|  51 | error   |
|  52 | match   |
|  53 | error   |
|  54 | match   |
|  55 | match   |
|  56 | match   |
|  57 | match   |
|  58 | match   |
|  59 | match   |
|  60 | match   |
|  61 | match   |
|  62 | match   |
|  63 | match   |
|  64 | match   |
|  65 | match   |
|  66 | match   |
|  67 | match   |
|  68 | match   |
|  69 | match   |
|  70 | match   |
|  71 | match   |
|  72 | match   |
|  73 | match   |
|  74 | match   |
|  75 | match   |
|  76 | match   |
|  77 | match   |
|  78 | error   |
|  79 | match   |
|  80 | match   |
|  81 | match   |
|  82 | match   |
|  83 | match   |
|  84 | match   |
|  85 | match   |
|  86 | match   |
|  87 | match   |
|  88 | match   |
|  89 | match   |
|  90 | match   |
|  91 | match   |
|  92 | match   |
|  93 | match   |
|  94 | match   |
|  95 | match   |
|  96 | match   |
|  97 | match   |
|  98 | match   |
|  99 | match   |
| 100 | match   |
| 101 | match   |
| 102 | error   |
| 103 | match   |
| 104 | match   |
| 105 | match   |
| 106 | match   |
| 107 | error   |
| 108 | match   |
| 109 | match   |
| 110 | match   |
| 111 | match   |
| 112 | match   |
| 113 | match   |
| 114 | error   |
| 115 | error   |
| 116 | match   |
| 117 | match   |
| 118 | match   |
| 119 | match   |
| 120 | error   |
| 121 | match   |
| 122 | error   |
| 123 | match   |
| 124 | error   |
| 125 | match   |
| 126 | match   |
| 127 | error   |
| 128 | error   |
| 129 | match   |
| 130 | match   |
| 131 | match   |
| 132 | match   |
| 133 | match   |
| 134 | error   |
| 135 | match   |
| 136 | match   |
| 137 | match   |
| 138 | match   |
| 139 | error   |
| 140 | match   |
| 141 | match   |
| 142 | match   |
| 143 | error   |
| 144 | match   |
| 145 | match   |
| 146 | match   |
| 147 | error   |
| 148 | match   |
| 149 | match   |
| 150 | error   |
+-----+---------+

In [75]:
%%writefile step23.sql

select
count(if(K3.checkPL = 'match',1,NULL)) km_match,
count(if(K3.checkPL = 'error',1,NULL)) km_error,
count(if(K3.checkPL = 'match',1,NULL)) / (count(if(K3.checkPL = 'match',1,NULL)) +count(if(K3.checkPL = 'error',1,NULL))) success
from (
  select K2.id, if(K2.labelID = K2.clusterID,'match','error') checkPL from (
    select id, label,
      case
      when label = 'Iris-setosa' then 3
      when label = 'Iris-versicolor' then 2
      when label = 'Iris-virginica' then 1
      else  0
      end
     labelID,
     clusterID
    from km_iris
    ) K2
  ) K3

Overwriting step23.sql

In [76]:
!mysql praxisDB --table < step23.sql

+----------+----------+---------+
| km_match | km_error | success |
+----------+----------+---------+
|      133 |       17 |  0.8867 |
+----------+----------+---------+

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself.
If you have an interest in AI and found this material useful, you may consider buying these novel, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)