<a href="https://colab.research.google.com/github/Praxis-QR/RDWH/blob/main/SQL_for_CSV_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

https://www.kdnuggets.com/2023/01/sql-csvs.html

In [1]:
!pip -q install csvkit

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.1/42.1 KB 3.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.1/97.1 KB 7.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 4.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.5/42.5 KB 4.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 12.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for olefile (setup.py) ... done

In [2]:
#!wget -O data.csv https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/USFastFood50_2.csv
!wget -q https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/dept.csv
!wget -q https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/empl.csv

In [3]:
#!cat data.csv

In [4]:
!csvsql --query "SELECT * FROM empl LIMIT 2" empl.csv

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866.0,Bacchan,Amitabh,Executive,2003-03-10,50000.0,0.1,10.0
349870.0,Mukherjee,Rani,Manager,2005-05-04,25000.0,0.06,40.0

In [22]:
!csvsql --query "SELECT * FROM dept LIMIT 2" dept.csv

DeptID,DeptName,ManagerID,Location
10.0,Corporate,299034.0,Calcutta
20.0,Sales,239456.0,Calcutta

In [5]:
!csvsql --query "SELECT * FROM empl" empl.csv | csvlook

|   EmpID | LastName    | FirstName | JobDesc    |   JoinDate | Salary | Comm | DeptID |
| ------- | ----------- | --------- | ---------- | ---------- | ------ | ---- | ------ |
| 742,866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 | 50,000 | 0.10 |     10 |
| 349,870 | Mukherjee   | Rani      | Manager    | 2005-05-04 | 25,000 | 0.06 |     40 |
| 865,477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 | 10,000 | 0.02 |     20 |
| 239,456 | Khan        | Shahrukh  | Manager    | 2004-01-03 | 30,000 | 0.07 |     20 |
| 897,889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 | 15,000 | 0.05 |     20 |
| 123,980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |  9,000 | 0.02 |     40 |
| 822,134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 | 40,000 | 0.08 |     30 |
| 997,445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 | 12,000 | 0.02 |     30 |
| 989,007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 | 20,000 | 0.03 |     40 |
| 299,034 | Ganesan     | Rekha     | Director   | 2002-10-10 | 60,000 | 0.11 |     10 |
| 546,223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 | 40,000 | 0.09 |     10 |
| 223,112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 | 25,000 | 0.04 |     30 |

In [6]:
!csvsql --query "Select LastName, FirstName, JobDesc from Empl where JobDesc = 'Clerk'" empl.csv | csvlook

| LastName | FirstName | JobDesc |
| -------- | --------- | ------- |
| Dikshit  | Madhuri   | Clerk   |
| Dhoni    | Mahender  | Clerk   |
| Dalmia   | Jagmohan  | Clerk   |

In [8]:
!csvsql --query "Select LastName, FirstName, Salary from Empl where Salary > 35000" empl.csv | csvlook

| LastName    | FirstName | Salary |
| ----------- | --------- | ------ |
| Bacchan     | Amitabh   | 50,000 |
| Dravid      | Rahul     | 40,000 |
| Ganesan     | Rekha     | 60,000 |
| Karthikeyan | Narayan   | 40,000 |

In [10]:
!csvsql --query "Select LastName, Firstname, JobDesc from Empl where JobDesc <> 'Clerk'" empl.csv | csvlook

| LastName    | FirstName | JobDesc    |
| ----------- | --------- | ---------- |
| Bacchan     | Amitabh   | Executive  |
| Mukherjee   | Rani      | Manager    |
| Khan        | Shahrukh  | Manager    |
| Sehwag      | Virender  | Cus_Rep    |
| Dravid      | Rahul     | Sr Manager |
| Ganguly     | Sourav    | Cus_Rep    |
| Ganesan     | Rekha     | Director   |
| Karthikeyan | Narayan   | Secretary  |
| Mirza       | Sania     | Cus_Rep    |

In [11]:
!csvsql --query "Select LastName, FirstName, JobDesc from Empl where LastName like 'D%'" empl.csv | csvlook

| LastName | FirstName | JobDesc    |
| -------- | --------- | ---------- |
| Dikshit  | Madhuri   | Clerk      |
| Dhoni    | Mahender  | Clerk      |
| Dravid   | Rahul     | Sr Manager |
| Dalmia   | Jagmohan  | Clerk      |

In [14]:
!csvsql --query "Select LastName, FirstName, JobDesc from Empl where LastName like '____i_'" empl.csv | csvlook

| LastName | FirstName | JobDesc    |
| -------- | --------- | ---------- |
| Dravid   | Rahul     | Sr Manager |
| Dalmia   | Jagmohan  | Clerk      |

In [15]:
!csvsql --query "Select LastName, FirstName, JobDesc from Empl where LastName like '____i%'" empl.csv | csvlook

| LastName | FirstName | JobDesc    |
| -------- | --------- | ---------- |
| Dhoni    | Mahender  | Clerk      |
| Dravid   | Rahul     | Sr Manager |
| Dalmia   | Jagmohan  | Clerk      |

In [31]:
!csvsql --query "\
    Select LastName, FirstName, JobDesc, DeptID \
    from Empl \
    where DeptID in ('20','30','40') \
    order by DeptID \
" empl.csv | csvlook

| LastName  | FirstName | JobDesc    | DeptID |
| --------- | --------- | ---------- | ------ |
| Dikshit   | Madhuri   | Clerk      |     20 |
| Khan      | Shahrukh  | Manager    |     20 |
| Sehwag    | Virender  | Cus_Rep    |     20 |
| Dravid    | Rahul     | Sr Manager |     30 |
| Dalmia    | Jagmohan  | Clerk      |     30 |
| Mirza     | Sania     | Cus_Rep    |     30 |
| Mukherjee | Rani      | Manager    |     40 |
| Dhoni     | Mahender  | Clerk      |     40 |
| Ganguly   | Sourav    | Cus_Rep    |     40 |

In [34]:
!csvsql --query "\
    Select LastName, FirstName, JobDesc, JoinDate from Empl ORDER BY JoinDate DESC \
" empl.csv | csvlook

| LastName    | FirstName | JobDesc    |   JoinDate |
| ----------- | --------- | ---------- | ---------- |
| Karthikeyan | Narayan   | Secretary  | 2005-12-04 |
| Mukherjee   | Rani      | Manager    | 2005-05-04 |
| Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |
| Dhoni       | Mahender  | Clerk      | 2004-10-09 |
| Khan        | Shahrukh  | Manager    | 2004-01-03 |
| Bacchan     | Amitabh   | Executive  | 2003-03-10 |
| Ganesan     | Rekha     | Director   | 2002-10-10 |
| Dikshit     | Madhuri   | Clerk      | 2002-04-04 |
| Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |
| Mirza       | Sania     | Cus_Rep    | 2001-11-19 |
| Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |
| Dravid      | Rahul     | Sr Manager | 2000-06-04 |

In [19]:
!csvsql --query "Select DeptID, sum(salary) DeptSalary from Empl Group by DeptID" empl.csv | csvlook

| DeptID | DeptSalary |
| ------ | ---------- |
|     10 |    150,000 |
|     20 |     55,000 |
|     30 |     77,000 |
|     40 |     54,000 |

In [20]:
!csvsql --query "Select DeptID, sum(salary) DeptSalary from Empl Group By DeptID having Sum(salary) < 100000" empl.csv | csvlook

| DeptID | DeptSalary |
| ------ | ---------- |
|     20 |     55,000 |
|     30 |     77,000 |
|     40 |     54,000 |

In [28]:
!csvjoin -c DeptID,DeptID empl.csv dept.csv | csvlook

|   EmpID | LastName    | FirstName | JobDesc    |   JoinDate | Salary | Comm | DeptID | DeptName   | ManagerID | Location |
| ------- | ----------- | --------- | ---------- | ---------- | ------ | ---- | ------ | ---------- | --------- | -------- |
| 742,866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 | 50,000 | 0.10 |     10 | Corporate  |   299,034 | Calcutta |
| 349,870 | Mukherjee   | Rani      | Manager    | 2005-05-04 | 25,000 | 0.06 |     40 | Production |   349,870 | Bombay   |
| 865,477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 | 10,000 | 0.02 |     20 | Sales      |   239,456 | Calcutta |
| 239,456 | Khan        | Shahrukh  | Manager    | 2004-01-03 | 30,000 | 0.07 |     20 | Sales      |   239,456 | Calcutta |
| 897,889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 | 15,000 | 0.05 |     20 | Sales      |   239,456 | Calcutta |
| 123,980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |  9,000 | 0.02 |     40 | Production |   349,870 | Bombay   |
| 822,134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 | 40,000 | 0.08 |     30 | Accounts   |   822,134 | Calcutta |
| 997,445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 | 12,000 | 0.02 |     30 | Accounts   |   822,134 | Calcutta |
| 989,007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 | 20,000 | 0.03 |     40 | Production |   349,870 | Bombay   |
| 299,034 | Ganesan     | Rekha     | Director   | 2002-10-10 | 60,000 | 0.11 |     10 | Corporate  |   299,034 | Calcutta |
| 546,223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 | 40,000 | 0.09 |     10 | Corporate  |   299,034 | Calcutta |
| 223,112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 | 25,000 | 0.04 |     30 | Accounts   |   822,134 | Calcutta |

In [ ]:
!csvsql --query "\
SELECT Chain_Name AS 'Food Chains', US_Systemwide_Sales_MUSD as 'Sales $M' \
FROM data \
WHERE US_Systemwide_Sales_MUSD >= 4000 \
ORDER BY US_Systemwide_Sales_MUSD DESC "\
data.csv | csvlook

| Food Chains               | Sales  |
| ------------------------- | ------ |
| McDonald’s                | 45,960 |
| Starbucks                 | 24,300 |
| Chick-fil-A               | 16,700 |
| Taco Bell                 | 12,600 |
| Wendy's                   | 11,111 |
| Dunkin'                   | 10,416 |
| Burger King               | 10,033 |
| Subway                    |  9,350 |
| Domino's                  |  8,641 |
| Chipotle                  |  7,547 |
| Sonic Drive-In            |  5,835 |
| Panera Bread              |  5,650 |
| Pizza Hut                 |  5,500 |
| KFC                       |  5,100 |
| Popeyes Louisiana Kitchen |  4,775 |
| Dairy Queen               |  4,494 |
| Arby’s                    |  4,462 |
| Panda Express             |  4,452 |
| Little Caesars            |  4,185 |
| Jack in the Box           |  4,077 |

In [ ]:
!csvsql --query "\
SELECT Chain_Name AS 'Food Chains', US_Systemwide_Sales_MUSD as 'Sales $M' \
FROM data \
WHERE US_Systemwide_Sales_MUSD >= 4000 \
ORDER BY US_Systemwide_Sales_MUSD DESC "\
data.csv > output.csv

In [ ]:
!cat output.csv

Food Chains,Sales
McDonald’s,45960.0
Starbucks,24300.0
Chick-fil-A,16700.0
Taco Bell,12600.0
Wendy's,11111.0
Dunkin',10416.0
Burger King,10033.0
Subway,9350.0
Domino's,8641.0
Chipotle,7547.0
Sonic Drive-In,5835.0
Panera Bread,5650.0
Pizza Hut,5500.0
KFC,5100.0
Popeyes Louisiana Kitchen,4775.0
Dairy Queen,4494.0
Arby’s,4462.0
Panda Express,4452.0
Little Caesars,4185.0
Jack in the Box,4077.0

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)